{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}

{% block header %}

<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-lacxi">
    <div class="container">
      <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="index.html">

        <img alt="MoMo" src="https://static.mservice.io/jk/accmm/rs/assets/img/momo-white.png" width="40" style="">
      </a>
      <div class="d-flex align-items-center order-lg-3">

        <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg
            src="img/icons/interface/icon-menu.svg">
          <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg
            src="img/icons/interface/icon-x.svg">
        </button>
      </div>
      <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-lacxi" id="navigation-menu">
        <ul class="navbar-nav my-3 my-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-item" href="#gioithieu" role="button" data-smooth-scroll>Giới thiệu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-item" href="#thamgia" role="button" data-smooth-scroll>Tham gia</a>
          </li>


          <li class="nav-item">
            <a class="nav-link nav-item" href="#donghanh" role="button" data-smooth-scroll>Đồng hành</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item" href="#sukien" role="button" data-smooth-scroll>Sự kiện</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item" href="#diengia" role="button" data-smooth-scroll>Diễn giả</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-item" href="#camon" role="button" data-smooth-scroll>Lời cảm ơn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item" href="#hoidap" role="button" data-smooth-scroll>Hỏi đáp</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %}


{% block content %}


<div class="conference--wrapper">


  <div class="bg-gradient-conference text-white o-hidden position-relative " data-overlay>


    <section class="hero__conference">

      <div class="container">
        <div class="row align-items-center" data-aos="fade-right">
          <div class="col-md-6 col-lg-5 order-md-1 order-2">
      
            <div class="hero__heading">
              <img src="img/corona/hero-kv-txt.png" class="img-fluid d-block " alt="" width="400">
            </div>

            <p class="lead mt-1 mt-lg-2 text-center text-md-left">
              <strong class="text-warning">“Coroference - Cho đi để nhận lại”</strong> là một phần của chiến dịch
              <strong class="text-warning">“Điều nhỏ bé vĩ đại”</strong> do Ví MoMo phối hợp
              cùng
              Uỷ ban Trung Ương Mặt Trận Tổ Quốc Việt Nam thực hiện.
            </p>


            <div class="text-center text-md-left">
              <a href="" class=" btn btn-warning rounded-pill btn-dropshadow btn-pulse rounded-pill">Tìm hiểu thêm</a>
            </div>



            <div class=" hero__message">

              <div class="text">
                Chương trình được truyền cảm hứng từ Coroference về Product Management của tác giả Nguyễn Ngọc Hiếu
                (Chief
                Product Officer, Seedcom).
              </div>


            </div>





          </div>
          <div class="col-md-6 col-lg-7 order-md-2 order-1" data-aos="fade-left" data-aos-delay="300">
            <div class="hero__mainKV">
              <img src="img/corona/kv-main.png" class="img-fluid" alt="">

            </div>
          </div>
        </div>

      </div>


    </section>
    <div id="particles-js-image">
    </div>

  </div>


  <section class="conference--about" id="gioithieu">

    <div class="section-icons d-none d-lg-block">
      <!-- Icon One -->
      <div class="icon-one" style="background-image:url(img/corona/icon-4.png)"></div>
      <!-- Icon Two -->
      <div class="icon-two" style="background-image:url(img/corona/icon-3.png)"></div>
      <!-- Icon Three -->
      <div class="icon-three" style="background-image:url(img/corona/icon-2.png)"></div>
    </div>

    <div class="container">

      <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
          <div class="about--label h5 mb-3">
            <span> Giới thiệu về </span> <img src="img/corona/coroference-logo.svg" class="ml-3" width="147" alt="">
          </div>

          <div class="conference--title text-left">
            <h2>Cho đi để nhận lại</h2>
          </div>

          <p>
            <strong class="text-dark">“Coroference - Cho đi để nhận lại”</strong> do <strong class="text-primary-2">Ví
              MoMo</strong> khởi xướng, là chuỗi sự kiện online, gồm các buổi chia sẻ kiến
            thức, kinh nghiệm, truyền cảm hứng của các chuyên gia, diễn giả, chuyên gia... đến từ nhiều lĩnh vực khác
            nhau: Sức khoẻ, Tâm lý, Giáo dục, Kinh doanh, Công nghệ - Sản phẩm, Marketing - Branding, Đời sống...

          </p>
          <!-- 
          <p>

            Với tinh thần “Pay It Forward” (Đáp đền tiếp nối), các chuyên gia chia sẻ kiến thức sẽ không nhận thù lao,
            người nghe không phải đóng phí, bất kỳ ai cũng có thể tham gia và không giới hạn địa lý. Thay vào đó, với
            sứ mệnh nhân bản những nghĩa cử cao đẹp, nhất là trước cuộc chiến Covid-19 đầy cam go, cần sự đóng góp của
            toàn dân, người tham gia các khóa học hay buổi chia sẻ từ “Coroference" chỉ cần thực hiện việc quyên góp
            (tuỳ tâm) ủng hộ Uỷ ban Trung Ương Mặt Trận Tổ Quốc trên Ví MoMo để cùng cả nước chung tay đẩy lùi dịch
            bệnh.
          </p> -->

          <blockquote>

            Với ý nghĩa cho đi là để nhận lại, chiến dịch Coroference của Ví MoMo mong muốn lan toả để cùng nhau chúng
            ta kiến tạo một cộng đồng xã hội ngày càng tốt đẹp hơn.

          </blockquote>

          <div class="mt-4 text-center text-md-left">
            <a href="" class="btn btn-primary-2 rounded-pill">Tìm hiểu thêm</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1 order-1 order-md-2" data-aos="fade-up" data-aos-delay="0">
          <div class="img-illus mb-4 mb-md-0">
            <img data-src="img/corona/coroference-minhhoa.png" class="img-fluid d-block mx-auto lazyload" alt="">
          </div>

        </div>
      </div>


    </div>


    <div class="container">

      <!-- <div class="conference__stat--quote">
        VÀI THÔNG SỐ VỀ CHƯƠNG TRÌNH
      </div> -->

      <div class="conference__stat mt-3 mt-md-4 mt-lg-5">
        <div class=" charity-stat-container ">
          <div class="row no-gutters justify-content-center">

            <div class="col-6 col-md-3">

              <div class="charity-group" data-aos="fade-up" data-aos-delay="0">
                <div class="charity-icon">
                  <i data-feather="monitor"></i>
                </div>

                <div class="charity-stat">

                  <div class="charity-stat-num">
                    <span data-countup data-start="0" data-end="46" data-duration="" data-decimal-places=""
                      data-prefix="" data-separator="" data-decimal-character="" data-grouping="true" data-suffix=""
                      data-easing="">0</span>
                    Buổi
                  </div>
                  <div class="charity-stat-label">
                    Thuyết trình
                  </div>
                </div>
              </div>

            </div>


            <div class="col-6 col-md-3">

              <div class="charity-group" data-aos="fade-up" data-aos-delay="200">
                <div class="charity-icon">
                  <i data-feather="mic"></i>
                </div>

                <div class="charity-stat">

                  <div class="charity-stat-num">
                    <span data-countup data-start="0" data-end="10" data-duration="" data-decimal-places=""
                      data-prefix="" data-separator="" data-decimal-character="" data-grouping="true" data-suffix=""
                      data-easing="">0</span>
                    Coach
                  </div>
                  <div class="charity-stat-label">
                    Tham gia
                  </div>
                </div>
              </div>

            </div>

            <div class="col-6 col-md-3">

              <div class="charity-group" data-aos="fade-up" data-aos-delay="400">
                <div class="charity-icon">
                  <i data-feather="user-plus"></i>
                </div>

                <div class="charity-stat">

                  <div class="charity-stat-num">
                    <span data-countup data-start="0" data-end="10000" data-duration="" data-decimal-places=""
                      data-prefix="" data-separator="." data-decimal-character="" data-grouping="true" data-suffix=""
                      data-easing="">0</span>
                    người
                  </div>



                  <div class="charity-stat-label">
                    tham gia Events
                  </div>
                </div>
              </div>



            </div>

            <div class="col-6 col-md-3">

              <div class="charity-group" data-aos="fade-up" data-aos-delay="600">
                <div class="charity-icon">
                  <i data-feather="gift"></i>
                </div>

                <div class="charity-stat">


                  <div class="charity-stat-num">

                    <span data-countup data-start="0" data-end="10000000" data-duration="" data-decimal-places=""
                      data-prefix="" data-separator="." data-decimal-character="" data-grouping="true" data-suffix=""
                      data-easing="">0</span>
                    đồng



                  </div>

                  <div class="charity-stat-label">
                    Được quyên góp

                  </div>
                </div>
              </div>



            </div>





          </div>


        </div>
      </div>

    </div>

  </section>




  <section class="conference--why bg-light" id="thamgia">


    <div class="container">

      <div class="row align-items-center">

        <div class="col-md-6 col-lg-5 " data-aos="fade-up" data-aos-delay="0">
          <div class="img-illus mb-4 mb-md-0">
            <img data-src="img/corona/learning.svg" width="350" class="img-fluid d-block mx-auto lazyload" alt="">
          </div>
        

        </div>

        <div class="col-md-6 offset-lg-1">
          <div class="about--label text-left h5 mb-1">
            <span class="text-primary-3"> Ai cũng có thể tham gia </span>
          </div>

          <div class="separator mb-2">
            <img src="img/corona/logo-separate.svg" width="50" class="img-fluid d-block" alt="">
          </div>

          <div class="conference--title text-left">
            <h2>Các khoá học hoàn toàn miễn phí và
              được tổ chức trực tuyến
            </h2>
          </div>
          <p class="">
            Không chỉ nhận tri thức, đây là cơ hội để lòng tốt được cho đi. Hãy quyên góp ủng ủng hộ lực lượng tuyến đầu
            chống dịch Covid-19 và lan toả sự tử tế đến mọi người xung quanh!

          </p>

          <div id="faq-accordion" class="accordion-s1-wrap">

            <div class=" mb-3 mb-md-3 mb-lg-4">
              <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="false"
                class="accordion-s1__item">
                <div class="accordion-s1__icon">
                  <img src="img/icons/interface/icon-plus.svg" alt="Caret Right" class="icon icon-sm plus bg-white"
                    data-inject-svg>

                  <img src="img/icons/interface/icon-minus.svg" alt="Caret Right" class="icon icon-sm minus bg-white"
                    data-inject-svg>
                </div>
                <div class="accordion-s1__title  d-flex justify-content-between align-items-center">
                  <h6 class="mb-0">Các chuyên gia (Coach) ưu tú và đầu ngành </h6>
                </div>
              </a>
              <div class="collapse" id="accordion-1" data-parent="#faq-accordion">
                <div class="accordion-s1__content mt-2">
                  Chuyên gia tham gia chương trình là các chuyên gia, lãnh đạo cấp cao, trưởng bộ phận hoặc những người
                  có nhiều kinh nghiệm ở các lĩnh vực.
                </div>
              </div>
            </div>

            <div class=" mb-3 mb-md-3 mb-lg-4">
              <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false"
                class="accordion-s1__item">
                <div class="accordion-s1__icon">
                  <img src="img/icons/interface/icon-plus.svg" alt="Caret Right" class="icon icon-sm plus bg-white"
                    data-inject-svg>

                  <img src="img/icons/interface/icon-minus.svg" alt="Caret Right" class="icon icon-sm minus bg-white"
                    data-inject-svg>
                </div>
                <div class="accordion-s1__title  d-flex justify-content-between align-items-center">
                  <h6 class="mb-0">Chủ đề đa dạng</h6>
                </div>
              </a>
              <div class="collapse" id="accordion-2" data-parent="#faq-accordion">
                <div class="accordion-s1__content mt-2">
                  <ul class="m-0 p-0 pl-3">
                    <li>
                      Muốn tìm hiểu gì… Coroference đều chiều ý!
                    </li>
                    <li>
                      Kiến thức, cảm hứng đến từ mọi lĩnh vực trong đời sống từ Sức khoẻ, Tâm lý, Giáo dục, Kinh
                      doanh, Công nghệ
                    </li>
                    <li>
                      Sản phẩm, Marketing, Branding...
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class=" mb-3 mb-md-3 mb-lg-4">
              <a href="#accordion-3" data-toggle="collapse" role="button" aria-expanded="false"
                class="accordion-s1__item">
                <div class="accordion-s1__icon">
                  <img src="img/icons/interface/icon-plus.svg" alt="Caret Right" class="icon icon-sm plus bg-white"
                    data-inject-svg>

                  <img src="img/icons/interface/icon-minus.svg" alt="Caret Right" class="icon icon-sm minus bg-white"
                    data-inject-svg>
                </div>
                <div class="accordion-s1__title  d-flex justify-content-between align-items-center">
                  <h6 class="mb-0">Nâng cao kiến thức, khám phá cái mới, tiếp thêm nguồn cảm hứng</h6>
                </div>
              </a>
              <div class="collapse" id="accordion-3" data-parent="#faq-accordion">
                <div class="accordion-s1__content mt-2">
                  Bên cạnh lĩnh vực quen thuộc, người nghe sẽ tìm thấy sở thích và mối quan tâm ở các lĩnh vực hoàn toàn
                  mới. Từ đó có thể phát triển bản thân và tìm được cảm hứng mới.
                </div>
              </div>
            </div>



            <div class=" mb-3 mb-lg-4">
              <a href="#accordion-4" data-toggle="collapse" role="button" aria-expanded="false"
                class="accordion-s1__item">
                <div class="accordion-s1__icon">
                  <img src="img/icons/interface/icon-plus.svg" alt="Caret Right" class="icon icon-sm plus bg-white"
                    data-inject-svg>

                  <img src="img/icons/interface/icon-minus.svg" alt="Caret Right" class="icon icon-sm minus bg-white"
                    data-inject-svg>
                </div>
                <div class="accordion-s1__title  d-flex justify-content-between align-items-center">
                  <h6 class="mb-0">Kết nối những người có cùng sở thích, sự quan tâm</h6>
                </div>
              </a>
              <div class="collapse" id="accordion-4" data-parent="#faq-accordion">
                <div class="accordion-s1__content mt-2">
                  Thêm bạn, thêm vui! Các buổi chia sẻ còn là nơi giao lưu, chia sẻ trải nghiệm của bản thân và kết thêm
                  những “cạ cứng" tâm giao.
                </div>
              </div>
            </div>

          </div>




          <div class="mt-4">
            <a href="" class="btn btn-primary-2 btn-facebook rounded-pill mx-1 my-2"> <img alt="" class="icon "
                data-inject-svg src="img/icons/interface/facebook-square.svg"> Tham gia nhóm</a>

            <a href="" class="btn btn-primary-2 rounded-pill mx-1 my-2"> Các khóa học</a>

          </div>
        </div>
      </div>


    </div>


  </section>

  <section class="conference--host o-hidden" id="donghanh">
    <div class="container">

      <div class="row align-items-center">

        <div class="col-md-12">
          <div class="about--label text-center h5 mb-1">
            <span class="text-primary-3"> Bạn muốn chia sẽ </span>
          </div>

          <div class="separator mb-2 text-center">
            <img src="img/corona/logo-separate.svg" width="50" class="img-fluid d-block mx-auto" alt="">
          </div>

          <div class="conference--title text-center">
            <h2>Tham gia trở thành diễn giả
            </h2>
          </div>
        </div>


      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-12 col-lg-10">
          <div class="row">
            <div class="col-md-4 d-flex align-items-stretch">

              <div class="card conference--card mb-3 mb-md-0" data-aos="fade-up" data-aos-delay="0">
                <img src="img/corona/thumb1.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nhân rộng lòng tốt </h5>
                  <p class="card-text">Khi bạn cho đi kiến thức, người nghe sẽ đồng thời quyên góp ủng hộ vào quỹ phòng,
                    chống dịch Covid-19 là Uỷ ban Trung Ương Mặt Trận Tổ Quốc Việt Nam. Số tiền sẽ được dùng vào việc
                    ủng hộ
                    lực lực tuyến đầu chống dịch. </p>
                </div>
              </div>

            </div>
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="card conference--card mb-3 mb-md-0" data-aos="fade-up" data-aos-delay="300">
                <img src="img/corona/thumb2.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sẻ chia kiến thức </h5>
                  <p class="card-text">Những chia sẻ của bạn sẽ mang đến kiến thức hữu ích và góp phần tiếp thêm động
                    lực,
                    truyền cảm hứng cho người nghe đến từ khắp nơi. </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="card conference--card mb-3 mb-md-0" data-aos="fade-up" data-aos-delay="600">
                <img src="img/corona/thumb3.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hỗ trợ truyền thông</h5>
                  <p class="card-text">Buổi chia sẻ sẽ càng được lan toả và hiệu quả khi được phối hợp truyền thông.
                    MoMo sẽ
                    hỗ trợ truyền thông trên hệ thống đang có gần 20 triệu người dùng cùng các đối tác và mạng lưới đang
                    có.
                  </p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>


      <div class="row align-items-center mt-2 mt-lg-4">

        <div class="col-md-12 text-center">
          <a href="" class="btn btn-primary-2 mx-1 rounded-pill my-2">Đăng ký trở thành Coach</a>
          <a href="" class="btn btn-outline-primary-2 mx-1 my-2 rounded-pill">Đề cử Coach</a>
        </div>


      </div>

    </div>


    <div class="shape-map1"><img src="img/corona/map1.png" alt="image"></div>

  </section>


  <section class="conference--host bg-gradient-conference o-hidden position-relative" id="sukien">
    <div class="container">

      <div class="row align-items-center">

        <div class="col-md-12">
          <div class="about--label text-center h5 mb-1">
            <span class="text-white"> Don't Miss a Thing</span>
          </div>

          <div class="separator mb-2 text-center">
            <img src="img/corona/logo-separate.svg" width="50" class="img-fluid d-block mx-auto" alt="">
          </div>

          <div class="conference--title text-center text-white">
            <h2> Sự kiện nổi bật
            </h2>
          </div>
        </div>

        <div class="col-md-12">
          <div class="nav__conference mt-lg-4 mt-2">

            <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active rounded-pill" id="home-tab" data-toggle="tab" href="#sapdienra" role="tab"
                  aria-controls="home" aria-selected="true">Sắp diễn ra </a>
              </li>
              <li class="nav-item">
                <a class="nav-link rounded-pill" id="profile-tab" data-toggle="tab" href="#dadienra" role="tab"
                  aria-controls="profile" aria-selected="false">Đã diễn ra</a>
              </li>

            </ul>
          </div>

        </div>


      </div>

    </div>

    <div class="container container-meetup mt-2">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="sapdienra" role="tabpanel" aria-labelledby="home-tab">

          <div class="row">
            {% for item in range(0,3) %}
            <div class="col-md-6 col-lg-4  p-lg-3 d-flex flex-stretch">
              <div class="meetup__item shadow-sm">
                <a href="" class="link-absolute"></a>

                <div class="meetup__time">
                  <div class="month">Tháng 4</div>
                  <div class="date">12</div>
                  <div class="day">Thứ 6</div>
                </div>

                <div class="meetup__banner">
                  <img src="img/corona/Course_Huyen Chip.jpg" class="img-fluid d-block mx-auto" alt="">
                </div>

                <div class="meetup__content">


                  <div class="meetup__title h4 text-primary-3">
                    Chat với Huyền chip, 20 bỗng nhiên tôi muốn bỏ học
                  </div>


                  <div class="meetup__desc">
                    Đánh bại áp lực thời hiện đại và bí quyết hâm nóng tình cảm gia đình dành cho người bận rộn sẽ được
                    Vũ
                    Hương
                    Mai tiết lộ tất tần tật trong buổi nói chuyện này.

                  </div>

                  <div class="meetup__author">
                    Diễn giả : <strong class="text-primary-2">Huyền chíp </strong>
                  </div>


                  <div class="meetup__author">
                    Thời gian : <strong class="text-primary-3">10:00 - 11:00 ngày 18/4 </strong>
                  </div>
                  <!-- <div class="meetup__cta text-center">
                    <a href="" class="btn  btn-primary-3 ">Đăng ký</a>
                  </div> -->
                </div>

              </div>
            </div>


            <div class="col-md-6 col-lg-4 p-lg-3 d-flex flex-stretch">
              <div class="meetup__item shadow-sm">
                <a href="" class="link-absolute"></a>

                <div class="meetup__time">
                  <div class="month">Tháng 4</div>
                  <div class="date">04</div>
                  <div class="day">Thứ 2</div>
                </div>

                <div class="meetup__banner">
                  <img src="img/corona/Course_Vu Huong Mai.png" class="img-fluid d-block mx-auto" alt="">
                </div>

                <div class="meetup__content">


                  <div class="meetup__title h4 text-primary-3">
                    Nghệ thuật làm vợ làm chồng và hâm nóng hạnh phúc gia đình!
                  </div>


                  <div class="meetup__desc">
                    Đánh bại áp lực thời hiện đại và bí quyết hâm nóng tình cảm gia đình dành cho người bận rộn sẽ được
                    Vũ
                    Hương
                    Mai tiết lộ tất tần tật trong buổi nói chuyện này.

                  </div>

                  <div class="meetup__author">
                    Diễn giả : <strong class="text-primary-2">Vũ Mai Hương </strong>
                  </div>


                  <div class="meetup__author">
                    Thời gian : <strong class="text-primary-3">10:00 - 11:00 ngày 18/4 </strong>
                  </div>
                  <!-- <div class="meetup__cta text-center">
                    <a href="" class="btn  btn-primary-3 ">Đăng ký</a>
                  </div> -->
                </div>

              </div>
            </div>
            {% endfor %}
          </div>

          <div class="mt-2 text-center">
            <a href="" class="btn btn-outline-light rounded-pill">Xem thêm</a>
          </div>


        </div>
        <div class="tab-pane fade" id="dadienra" role="tabpanel" aria-labelledby="profile-tab">
          <div class="col-md-6 col-lg-4  p-lg-3 d-flex flex-stretch">
            <div class="meetup__item is-end shadow-sm is-end">

              <div class="meetup__time">
                <div class="month">Tháng 4</div>
                <div class="date">12</div>
                <div class="day">Thứ 6</div>
              </div>

              <div class="meetup__banner">
                <img src="img/corona/Course_Huyen Chip.jpg" class="img-fluid d-block mx-auto" alt="">
              </div>

              <div class="meetup__content">


                <div class="meetup__title h4 text-primary-3">
                  Chat với Huyền chip, 20 bỗng nhiên tôi muốn bỏ học
                </div>


                <div class="meetup__desc">
                  Đánh bại áp lực thời hiện đại và bí quyết hâm nóng tình cảm gia đình dành cho người bận rộn sẽ được
                  Vũ
                  Hương
                  Mai tiết lộ tất tần tật trong buổi nói chuyện này.

                </div>

                <div class="meetup__author">
                  Diễn giả : <strong class="text-primary-2">Huyền chíp </strong>
                </div>


                <div class="meetup__author">
                  Thời gian : <strong class="text-primary-3">10:00 - 11:00 ngày 18/4 </strong>
                </div>
                <!-- <div class="meetup__cta text-center">
                  <a href="" class="btn  btn-primary-3 ">Đăng ký</a>
                </div> -->
              </div>

            </div>
          </div>


        </div>
      </div>





    </div>

    <div id="particles-js-image2">
    </div>
  </section>



  <section class="conference--host  o-hidden" id="diengia">
    <div class="container">

      <div class="row align-items-center">

        <div class="col-md-12">
          <div class="about--label text-center h5 mb-1">
            <span class="text-primary-3"> Người nổi tiếng</span>
          </div>

          <div class="separator mb-2 text-center">
            <img src="img/corona/logo-separate.svg" width="50" class="img-fluid d-block mx-auto" alt="">
          </div>

          <div class="conference--title text-center">
            <h2>Các Diễn giả đồng hành
            </h2>
          </div>
        </div>


      </div>

      {% set hosts = [
        {
          "img" : "host1.png",
          "name" : "Nguyễn Hoành Tiến",
          "title" : "CEO Seedcom Group, Cựu Phó TGĐ VNG",
          "desc" : "MBA Marketing, Organization and Management, Emory University"
        },
        {
          "img" : "host2.png",
          "name" : "Nguyễn Minh Trang",
          "title" : "MC, biên tập viên Đài truyền hình VTV",
          "desc" : "MBA Marketing, Organization and Management, Emory University"
        },
        {
          "img" : "host3.png",
          "name" : "Phan Bảo Long",
          "title" : "Giảng viên Y khoa, VĐV thể hình đội tuyển Quốc Gia",
          "desc" : "MBA Marketing, Organization and Management, Emory University"
        },
        {
          "img" : "host4.png",
          "name" : "Lê Anh Tuấn",
          "title" : "Doanh nhân, nhà đầu tư, chuyên gia Digital Marketing,  Giám đốc A1digihub",
          "desc" : "MBA Marketing, Organization and Management, Emory University"
        }  
      ] %}

      <div class="row justify-content-center mt-4">

        {% for item in hosts %}
        <div class="col-6  text-center mb-3 col-md-3">
          <div class="d-flex flex-column align-items-center speaker__item">
            <div class="speaker__image">
              <img src="img/corona/{{item.img}}" alt="Joshua Lapinsky profile image"
                class="img-fluid d-block mx-auto mb-3">
            </div>

            <h5 class="mb-2">{{item.name}}</h5>
            <div class="mb-3">{{item.title}}</div>
          </div>
        </div>

        {% endfor %}


        {% for item in hosts %}
        <div class="col-6  text-center mb-3 col-md-3">
          <div class="d-flex flex-column align-items-center speaker__item">
            <div class="speaker__image">
              <img src="img/corona/{{item.img}}" alt="Joshua Lapinsky profile image"
                class="img-fluid d-block mx-auto mb-3">
            </div>

            <h5 class="mb-2">{{item.name}}</h5>
            <div class="mb-3">{{item.title}}</div>
          </div>
        </div>

        {% endfor %}
      </div>

    </div>


    <div class="shape-map1"><img src="img/corona/map1.png" alt="image"></div>

  </section>


  <section class="bg-light o-hidden" id="huongdan">

    <div class="container">

      <div class="row align-items-center">

        <div class="col-md-12">
          <div class="about--label text-center h5 mb-1">
            <span class="text-primary-3"> Hướng dẫn</span>
          </div>

          <div class="separator mb-2 text-center">
            <img src="img/corona/logo-separate.svg" width="50" class="img-fluid d-block mx-auto" alt="">
          </div>

          <div class="conference--title text-center">
            <h2>Các bước tham gia chương trình
            </h2>
          </div>
        </div>


      </div>


      <div class="row">

      </div>

    </div>


    <div class="container">


      <div class="col-12">



        <div class="row manual-device-swiper-container">
          <div class="col-12 col-md-6 order-2 order-md-1">

            <div class="manual-device d-block ml-lg-auto mr-lg-5" id="hd-sub-img-53138152" childId="53138152">
              <div class="manual-device-stock ">

              </div>

              <div class="manual-device-slide">
                <div class="swiper-container manual-device-swiper" id="hd-sub-swp-53138152">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                        class="img-fluid lazyload" alt="T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng V&#xED; MoMo Ví MoMo">
                    </div>
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                        class="img-fluid lazyload" alt="Nh&#x1EAD;p s&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i Ví MoMo">
                    </div>
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                        class="img-fluid lazyload" alt="Nh&#x1EAD;p m&#xE3; x&#xE1;c th&#x1EF1;c  Ví MoMo">
                    </div>
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                        class="img-fluid lazyload"
                        alt="T&#x1EA1;o m&#x1EAD;t kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p  Ví MoMo">
                    </div>
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                        class="img-fluid lazyload" alt="Nh&#x1EAD;p th&#xF4;ng tin Ví MoMo">
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>


          <div class="col-12 col-md-6 order-1 order-md-2">


            <ol class="process list-unstyled manual-process " childId="53138152" id="hd-sub-ctn-53138152">

              <li class="process_item  active">
                <div class="process__number">
                  <span>1</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">T&#x1EA3;i &#x1EE9;ng
                    d&#x1EE5;ng V&#xED; MoMo</h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Tải ứng dụng miễn
                        ph&iacute; bằng c&aacute;ch t&igrave;m
                        kiếm&nbsp;từ kh&oacute;a &ldquo;vi
                        momo&rdquo;&nbsp;tr&ecirc;n <a
                          href="https://apps.apple.com/vn/app/id918751511?utm_campaign=momo-1dong&amp;utm_medium=download&amp;utm_source=website-momo">App
                          Store</a> hoặc <a
                          href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong">Google
                          Play Store</a>.</span></p>

                  </div>
                </div>
              </li>
              <li class="process_item  ">
                <div class="process__number">
                  <span>2</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">Nh&#x1EAD;p s&#x1ED1;
                    &#x111;i&#x1EC7;n tho&#x1EA1;i</h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Mở ứng dụng
                        v&agrave; nhập số điện thoại bạn muốn đăng
                        k&yacute; V&iacute; MoMo.</span></p>

                    <p><span style="font-size:14px;"><em>Lưu
                          &yacute;:&nbsp;</em></span><em>Số
                        điện&nbsp;thoại đăng k&iacute; V&iacute;
                        phải tr&ugrave;ng với số điện thoại đăng
                        k&iacute; Internet Banking của ng&acirc;n
                        h&agrave;ng bạn muốn li&ecirc;n kết.</em>
                    </p>

                  </div>
                </div>
              </li>
              <li class="process_item  ">
                <div class="process__number">
                  <span>3</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">Nh&#x1EAD;p m&#xE3;
                    x&#xE1;c th&#x1EF1;c </h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Một tin nhắn chứa
                        m&atilde; x&aacute;c thực sẽ&nbsp;gửi trực
                        tiếp đến số điện thoại của bạn.</span></p>

                    <p><span style="font-size:14px;">Vui l&ograve;ng
                        kiểm tra v&agrave; nhập ch&iacute;nh
                        x&aacute;c m&atilde; x&aacute;c thực
                        v&agrave;o &ocirc; &quot;Nhập m&atilde;
                        x&aacute;c thực&quot; rồi nhấn &quot;Tiếp
                        tục&quot;.</span></p>

                  </div>
                </div>
              </li>
              <li class="process_item  ">
                <div class="process__number">
                  <span>4</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">T&#x1EA1;o m&#x1EAD;t
                    kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p </h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Thiết lập mật khẩu
                        để bảo vệ t&agrave;i khoản V&iacute; MoMo
                        của bạn gồm 6 chữ số v&agrave; mật khẩu ở 2
                        &ocirc; phải ho&agrave;n to&agrave;n giống
                        nhau.<br />
                        <br />
                        Sau đ&oacute; bấm &quot;X&aacute;c
                        nhận&quot;.</span></p>

                  </div>
                </div>
              </li>
              <li class="process_item  ">
                <div class="process__number">
                  <span>5</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">Nh&#x1EAD;p th&#xF4;ng
                    tin</h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Sau khi tạo mật
                        khẩu đăng nhập th&agrave;nh c&ocirc;ng, bạn
                        nhập th&ocirc;ng tin c&aacute; nh&acirc;n
                        theo y&ecirc;u cầu v&agrave; nhấn
                        &quot;X&aacute;c nhận&quot;&nbsp;để
                        ho&agrave;n tất đăng k&yacute;.</span></p>

                  </div>
                </div>
              </li>
            </ol>



          </div>
        </div>


      </div>
    </div>



  </section>


  <section class="conference__testi  bg-white o-hidden pb-0 " id="camon">
    <div class="container">

      <div class="row align-items-center">

        <div class="col-md-12">
          <div class="about--label text-center h5 mb-1">
            <span class="text-primary-3"> Lời cám ơn </span>
          </div>

          <div class="separator mb-2 text-center">
            <img src="img/corona/logo-separate.svg" width="50" class="img-fluid d-block mx-auto" alt="">
          </div>

          <div class="conference--title text-center">
            <h2>Here's what our customers say
            </h2>
          </div>
        </div>


      </div>


      <div class="gh-testimonials-grid">
        <div class="gh-testimonials-grid-item">

          <blockquote class="gh-testimonial-quote gh-testimonial-header">
            <p>"Qua sự kiện, tôi cảm thấy chương trình là một nơi trao đổi thân mật giữa các thành viên trong
              gia
              đình, rất ấm áp và thoải mái! Tất cả các bạn tham gia đều được quan tâm, giải đáp những thắc mắc một
              cách cặn kẽ. Mong rằng BTC sẽ giữ vững phong độ và có thêm nhiều Coach chất lượng như bây giờ để mọi
              người có thể tham gia nhiều hơn nữa."</p>
            <footer class="gh-testimonial-footer"><cite>
                <div class="gh-testimonial-img">
                  <img src="img/corona/testi1.png" alt="" class="img-fluid"></div>
                <div class="gh-testimonial-author">
                  <strong>
                    Nguyễn Văn Toàn - 28 tuổi

                  </strong><span>
                    Đến từ Thái Bình
                  </span></div>
              </cite></footer>
          </blockquote>

          <blockquote class="gh-testimonial-quote gh-testimonial-header">
            <p>"Năm nay là năm em thi Đại học và cảm thấy vô cùng may mắn khi được tham gia vào buổi chia sẻ
              của
              chị Huyền Chip. Cách chị truyền đạt rất gần gũi và những thông tin chị cung cấp khiến em cảm thấy tự
              tin
              vào quyết định của mình cho tương lai. Cám ơn chị và cám ơn BTC rất nhiều."</p>
            <footer class="gh-testimonial-footer"><cite>
                <div class="gh-testimonial-img">
                  <img src="img/corona/testi2.png" alt="" class="img-fluid"></div>
                <div class="gh-testimonial-author">
                  <strong>

                    Trần Thị Trang - 23 tuổi



                  </strong><span>

                    Đến từ TP.HCM

                  </span></div>
              </cite></footer>
          </blockquote>

        </div>
        <div class="gh-testimonials-grid-item">

          <blockquote class="gh-testimonial-quote gh-testimonial-header">
            <p>
              “Mình có tham gia buổi chia sẻ của chị Nam Phương với chủ đề “Chăm sóc và yêu thương bản thân
              trong thời đại số”. Phải nói là vô cùng hào hứng và thú vị. Gần 2 tiếng đồng hồ trôi qua, tụi mình
              không
              chỉ lắng nghe những thông tin bổ ích mà còn được tương tác với nhau giúp những kiến thức chị cung
              cấp dễ
              nhớ hơn. Cảm ơn chị và BTC đã tạo ra một chuỗi sự kiện hay ho như thế này. Mong rằng trong tương lai
              sẽ
              lại được tiếp tục có những sự kiện để mình có cơ hội tham gia nữa.”
            </p>
            <footer class="gh-testimonial-footer"><cite>
                <div class="gh-testimonial-img">
                  <img src="img/corona/testi3.png" alt="" class="img-fluid"></div>
                <div class="gh-testimonial-author">
                  <strong>

                    Trần Thị Yến - 26 tuổi



                  </strong><span>

                    Đến từ Hà Nội

                  </span></div>
              </cite></footer>
          </blockquote>

          <blockquote class="gh-testimonial-quote gh-testimonial-header">
            <p>"Năm nay là năm em thi Đại học và cảm thấy vô cùng may mắn khi được tham gia vào buổi chia sẻ
              của
              chị Huyền Chip. Cách chị truyền đạt rất gần gũi và những thông tin chị cung cấp khiến em cảm thấy tự
              tin
              vào quyết định của mình cho tương lai. Cám ơn chị và cám ơn BTC rất nhiều."</p>
            <footer class="gh-testimonial-footer"><cite>
                <div class="gh-testimonial-img">
                  <img src="img/corona/testi2.png" alt="" class="img-fluid"></div>
                <div class="gh-testimonial-author">
                  <strong>

                    Trần Thị Trang - 23 tuổi



                  </strong><span>

                    Đến từ TP.HCM

                  </span></div>
              </cite></footer>
          </blockquote>



        </div>
        <div class="gh-testimonials-grid-item">

          <blockquote class="gh-testimonial-quote gh-testimonial-header">
            <p>"Qua sự kiện, tôi cảm thấy chương trình là một nơi trao đổi thân mật giữa các thành viên trong
              gia
              đình, rất ấm áp và thoải mái! Tất cả các bạn tham gia đều được quan tâm, giải đáp những thắc mắc một
              cách cặn kẽ. Mong rằng BTC sẽ giữ vững phong độ và có thêm nhiều Coach chất lượng như bây giờ để mọi
              người có thể tham gia nhiều hơn nữa."</p>
            <footer class="gh-testimonial-footer"><cite>
                <div class="gh-testimonial-img">
                  <img src="img/corona/testi1.png" alt="" class="img-fluid"></div>
                <div class="gh-testimonial-author">
                  <strong>
                    Nguyễn Văn Toàn - 28 tuổi

                  </strong><span>
                    Đến từ Thái Bình
                  </span></div>
              </cite></footer>
          </blockquote>

          <blockquote class="gh-testimonial-quote gh-testimonial-header">
            <p>"Năm nay là năm em thi Đại học và cảm thấy vô cùng may mắn khi được tham gia vào buổi chia sẻ
              của
              chị Huyền Chip. Cách chị truyền đạt rất gần gũi và những thông tin chị cung cấp khiến em cảm thấy tự
              tin
              vào quyết định của mình cho tương lai. Cám ơn chị và cám ơn BTC rất nhiều."</p>
            <footer class="gh-testimonial-footer"><cite>
                <div class="gh-testimonial-img">
                  <img src="img/corona/testi2.png" alt="" class="img-fluid"></div>
                <div class="gh-testimonial-author">
                  <strong>

                    Trần Thị Trang - 23 tuổi



                  </strong><span>

                    Đến từ TP.HCM

                  </span></div>
              </cite></footer>
          </blockquote>

        </div>



      </div>

    </div>


    <div class="shape-map1"><img src="img/corona/map1.png" alt="image"></div>

  </section>


  <section class="conference__testi  bg-light o-hidden " id="hoidap">
    <div class="container">

      <div class="row align-items-center">

        <div class="col-md-12">


          <div class="conference--title text-center">
            <h2>Hỏi đáp
            </h2>
          </div>
        </div>


      </div>

      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div id="xt-faq-parent-122" class="kyc-accordion">
            <div class="card mb-2 mb-md-3">
              <a href="#xt-fqa-599" data-toggle="collapse" role="button" aria-expanded="false" class="px-3 px-md-4 p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="mb-0 mr-2">Về “Coroference - Cho đi để nhận lại”</h6>
                  <img src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-caret-right.svg"
                    alt="Xem thêm" class="icon icon-sm" data-inject-svg>
                </div>
              </a>
              <div class="collapse" id="xt-fqa-599" data-parent="#xt-faq-parent-122">
                <div class="px-3 px-md-4 pb-3 pb-md-4">

                  <p> <strong>1. Coroference là gì?</strong>
                  </p>
                  <p>
                    Coroference là chữ viết tắt của virus Corona và Conference (hội thảo, thảo luận,...). Chương trình
                    được truyền cảm hứng từ coroference về Product management của tác giả Hiếu Nguyễn (Chief Product
                    Officer, Seedcom).
                  </p>
                  <p>

                    Đây là dự án nằm trong chuỗi chiến dịch “Điều nhỏ bé vĩ đại" do Ví MoMo phát động nhằm kêu gọi quyên
                    góp cho Uỷ Ban Trung Ương Mặt Trận Tổ Quốc Việt Nam. Toàn bộ số tiền sẽ được dùng để ủng hộ các lực
                    lượng tuyến đầu đang chiến đấu chống dịch COVID-19.
                  </p>
                  <p>

                    <strong> 2. Coroference hoạt động như thế nào?</strong>

                  </p>
                  <p>
                    Coroference được tổ chức trực tuyến (online) qua livestream trên facebook của các chuyên gia hoặc
                    qua
                    các nền tảng công nghệ (platform) khác.
                  </p>

                </div>
              </div>
            </div>
            <div class="card mb-2 mb-md-3">
              <a href="#xt-fqa-600" data-toggle="collapse" role="button" aria-expanded="false" class="px-3 px-md-4 p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="mb-0 mr-2">Ai l&#xE0; ng&#x1B0;&#x1EDD;i ph&#x1EA3;i x&#xE1;c th&#x1EF1;c t&#xE0;i
                    kho&#x1EA3;n v&#xED; MoMo?</h6>
                  <img src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-caret-right.svg"
                    alt="Xem thêm" class="icon icon-sm" data-inject-svg>
                </div>
              </a>
              <div class="collapse" id="xt-fqa-600" data-parent="#xt-faq-parent-122">
                <div class="px-3 px-md-4 pb-3 pb-md-4">
                  Tất cả người d&ugrave;ng sử dụng v&iacute; điện tử.
                </div>
              </div>
            </div>
            <div class="card mb-2 mb-md-3">
              <a href="#xt-fqa-601" data-toggle="collapse" role="button" aria-expanded="false" class="px-3 px-md-4 p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="mb-0 mr-2">C&#x1EA7;n nh&#x1EEF;ng th&#xF4;ng tin g&#xEC; &#x111;&#x1EC3; x&#xE1;c
                    th&#x1EF1;c t&#xE0;i kho&#x1EA3;n?</h6>
                  <img src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-caret-right.svg"
                    alt="Xem thêm" class="icon icon-sm" data-inject-svg>
                </div>
              </a>
              <div class="collapse" id="xt-fqa-601" data-parent="#xt-faq-parent-122">
                <div class="px-3 px-md-4 pb-3 pb-md-4">
                  Họ v&agrave; t&ecirc;n, Ng&agrave;y/th&aacute;ng/năm sinh, Số CMND/CCCD, Ng&agrave;y cấp v&agrave;
                  cung cấp ảnh chụp 2 mặt CMND/CCCD.
                </div>
              </div>
            </div>
            <div class="card mb-2 mb-md-3">
              <a href="#xt-fqa-602" data-toggle="collapse" role="button" aria-expanded="false" class="px-3 px-md-4 p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="mb-0 mr-2">T&#xF4;i &#x111;&#xE3; v&#xE0; &#x111;ang s&#x1EED; d&#x1EE5;ng v&#xED; MoMo
                    tr&#x1B0;&#x1EDB;c khi th&#xF4;ng t&#x1B0; &#x111;&#x1B0;&#x1EE3;c ban h&#xE0;nh, v&#x1EAD;y
                    t&#xF4;i c&#xF3; c&#x1EA7;n ph&#x1EA3;i x&#xE1;c th&#x1EF1;c t&#xE0;i kho&#x1EA3;n?</h6>
                  <img src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-caret-right.svg"
                    alt="Xem thêm" class="icon icon-sm" data-inject-svg>
                </div>
              </a>
              <div class="collapse" id="xt-fqa-602" data-parent="#xt-faq-parent-122">
                <div class="px-3 px-md-4 pb-3 pb-md-4">
                  Tất cả người d&ugrave;ng sử dụng v&iacute; điện tử đều bắt buộc phải x&aacute;c thực t&agrave;i khoản
                  v&agrave; li&ecirc;n kết với t&agrave;i khoản ng&acirc;n h&agrave;ng. Trong v&ograve;ng 6
                  th&aacute;ng, c&aacute;c t&agrave;i khoản v&iacute; đăng k&yacute; trước th&ocirc;ng tư được ban
                  h&agrave;nh cần nhanh ch&oacute;ng x&aacute;c thực t&agrave;i khoản.
                </div>
              </div>
            </div>
            <div class="card mb-2 mb-md-3">
              <a href="#xt-fqa-603" data-toggle="collapse" role="button" aria-expanded="false" class="px-3 px-md-4 p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="mb-0 mr-2">X&#xE1;c th&#x1EF1;c t&#xE0;i kho&#x1EA3;n v&#xED; c&#xF3; l&#x1EE3;i &#xED;ch
                    g&#xEC;?</h6>
                  <img src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-caret-right.svg"
                    alt="Xem thêm" class="icon icon-sm" data-inject-svg>
                </div>
              </a>
              <div class="collapse" id="xt-fqa-603" data-parent="#xt-faq-parent-122">
                <div class="px-3 px-md-4 pb-3 pb-md-4">
                  <ul>
                    <li>Đảm bảo v&iacute; được an to&agrave;n, bảo mật tối đa.&nbsp;</li>
                    <li>Ưu ti&ecirc;n voucher khuyến m&atilde;i từ MoMo.&nbsp;</li>
                    <li>Nhận c&aacute;c th&ocirc;ng tin khuyến m&atilde;i nhanh ch&oacute;ng v&agrave; cập nhật.&nbsp;
                    </li>
                    <li>Nhiều ưu đ&atilde;i hấp dẫn hơn so với người d&ugrave;ng chưa x&aacute;c thực t&agrave;i
                      khoản.&nbsp;</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="card mb-2 mb-md-3">
              <a href="#xt-fqa-604" data-toggle="collapse" role="button" aria-expanded="false" class="px-3 px-md-4 p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="mb-0 mr-2">X&#xE1;c th&#x1EF1;c t&#xE0;i kho&#x1EA3;n v&#xED; bao g&#x1ED3;m nh&#x1EEF;ng
                    b&#x1B0;&#x1EDB;c n&#xE0;o?</h6>
                  <img src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-caret-right.svg"
                    alt="Xem thêm" class="icon icon-sm" data-inject-svg>
                </div>
              </a>
              <div class="collapse" id="xt-fqa-604" data-parent="#xt-faq-parent-122">
                <div class="px-3 px-md-4 pb-3 pb-md-4">
                  <p>Việc x&aacute;c thực t&agrave;i khoản gồm 5 bước.&nbsp;</p>

                  <p>L&agrave;m theo c&aacute;c bước cực k&igrave; đơn giản ph&iacute;a dưới để x&aacute;c thực
                    t&agrave;i khoản ngay <a href="https://momo.vn/huong-dan/huong-dan-xac-thuc-tai-khoan">tại
                      đ&acirc;y.</a></p>

                  <p>&nbsp;</p>

                </div>
              </div>
            </div>



          </div>

        </div>
      </div>



    </div>


    <div class="shape-map1"><img src="img/corona/map1.png" alt="image"></div>

  </section>
</div>





{% endblock %}

{% block javascript %}

<script>
  var swiper = new Swiper('.swiper-testi2', {
    slidesPerView: 'auto',
    spaceBetween: 0,
    centeredSlides: true,
    loop: true,
    loopFillGroupWithBlank: true,

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

  });

  $(document).ready(function () {
    particlesJS("particles-js-image", {
      particles: {
        number: { value: 160, density: { enable: true, value_area: 1000 } },
        color: { value: "#7388DF" },


        shape: {
          type: "circle",
          stroke: { width: 0, color: "white" },
          polygon: { nb_sides: 5 }
        },
        opacity: {
          value: 1,
          random: true,
          anim: { enable: true, speed: 1, opacity_min: 0, sync: false }
        },
        size: {
          value: 5,
          random: true,
          anim: { enable: false, speed: 4, size_min: 0.3, sync: false }
        },
        line_linked: {
          enable: false,
          distance: 150,
          color: "#7388DF",
          opacity: 0.4,
          width: 1
        },
        move: {
          enable: true,
          speed: 1,
          direction: "none",
          random: true,
          straight: false,
          out_mode: "out",
          bounce: false,
          attract: { enable: false, rotateX: 600, rotateY: 600 }
        }
      },
      interactivity: {
        detect_on: "canvas",
        events: {
          onhover: { enable: false, mode: "bubble" },
          onclick: { enable: false, mode: "repulse" },
          resize: true
        }
      },
      retina_detect: true
    });

    particlesJS("particles-js-image2", {
      particles: {
        number: { value: 160, density: { enable: true, value_area: 1000 } },
        color: { value: "#7388DF" },


        shape: {
          type: "circle",
          stroke: { width: 0, color: "white" },
          polygon: { nb_sides: 5 }
        },
        opacity: {
          value: 1,
          random: true,
          anim: { enable: true, speed: 1, opacity_min: 0, sync: false }
        },
        size: {
          value: 5,
          random: true,
          anim: { enable: false, speed: 4, size_min: 0.3, sync: false }
        },
        line_linked: {
          enable: false,
          distance: 150,
          color: "#7388DF",
          opacity: 0.4,
          width: 1
        },
        move: {
          enable: true,
          speed: 1,
          direction: "none",
          random: true,
          straight: false,
          out_mode: "out",
          bounce: false,
          attract: { enable: false, rotateX: 600, rotateY: 600 }
        }
      },
      interactivity: {
        detect_on: "canvas",
        events: {
          onhover: { enable: false, mode: "bubble" },
          onclick: { enable: false, mode: "repulse" },
          resize: true
        }
      },
      retina_detect: true
    });


  })
</script>

{% endblock %}