{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}



{% block content %}

<div class="pron__wrap">
  <div class="container">
    <div class="row ">
      <div class="col-lg-6">
        <h1 class="pron__title">
          Quyên góp để giúp đỡ các hoàn cảnh khó khăn khi sử dụng ví MoMo
        </h1>

        <div class="pron__lead">
          Không phải tất cả chúng ta đều làm được những điều vĩ đại,
          nhưng chúng ta có thể làm những điều nhỏ bé với tình yêu vĩ đại
        </div>

        <div class="pron__action">
          <a href="" class="btn btn-primary-2">
            Cùng chung tay
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pron__about ">

          <div class="pron__shape pron__shape_1">
            <img src="img/shape/11.jpg" class="img-fluid" alt="">
          </div>

          <div class="pron__shape pron__shape_2">
            <img src="img/shape/6.png" class="img-fluid" alt="">
          </div>

          <div class="embed-responsive embed-responsive-pronAbout">
            <div class="embed-responsive-item">
              <img src="https://static.mservice.io/blogscontents/momo-upload-api-200314095156-637197763162753608.jpg"
                class="img-fluid" alt="">
            </div>
          </div>
  
        </div>
     

      </div>
    </div>

  </div>
</div>



{% endblock %}

{% block javascript %}

{% endblock %}