{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}



{% block content %}


{% include "layouts/hero.html" %}


{% include "layouts/chiso.html" %}

<div class="o-hidden" data-overlay style="background-color: white;">

    <section class="" id="dieunhobevidai">
        <div class="container ">
            <div class="row section-title mb-4 justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <div class="text-center">

                        <h2 class="font-serif mb-3 h1 text-primary-2 aos-init aos-animate" data-aos="fade-in"
                            data-aos-offset="100"> Về "Điều nhỏ bé vĩ đại"</h2>
                    </div>

                    <div class="slide-dash2 bg-primary-2 d-block mx-auto "></div>
                </div>
            </div>



            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 ">
                    <div class="qu-image" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000"
                        data-aos-offset="50">
                        <img src="img/bacsi.png" class="img-fluid d-block mx-auto" width="400" alt="">
                    </div>
                    <div class="qu-container" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000"
                        data-aos-offset="50">
                        <div class="mb-3">
                            Những tháng qua, hàng chục ngàn Y Bác sĩ, điều dưỡng, sinh viên tình nguyện các trường ĐH Y
                            trên cả nước đang ngày đêm trực chiến nơi tuyến đầu chiến đấu chống lại đại dịch nCoV-19. Mồ
                            hôi, nước mắt đã rơi,
                            vô vàn hy sinh thầm lặng không thể đo đếm của những <strong class="text-primary-2">Chiến sĩ
                                áo trắng</strong>!

                        </div>

                        <div class="mb-3">
                            <strong class="text-primary-2">“Điều nhỏ bé vĩ đại”</strong> của Ví điện tử MoMo phối hợp
                            cùng UB TW Mặt trận tổ quốc, Đại học Y Hà
                            Nội ra đời với mong ước góp thêm ngọn lửa, tiếp thêm sức mạnh, ủng hộ và động viên cho lực
                            lượng tinh nhuệ tiên phong trong cuộc chiến chống covid-19 vững tâm vượt qua đại dịch. Toàn
                            bộ số tiền đóng góp sẽ được sử dụng vào việc ủng hộ các lực lượng trực tiếp tham gia chống
                            dịch.

                        </div>
                        <div>

                            Cùng MoMo chọn <strong class="text-primary-2">Sống khoẻ - Sống tốt – Sống thông
                                minh</strong>, để mỗi hành động nhỏ bé của bạn trở
                            thành nguồn động lực, sự đóng góp lớn lao về cả vật chất lẫn tinh thần cho các Chiến sĩ áo
                            trắng ở đầu chiến tuyến!

                        </div>

                        <div class="row justify-content-center mt-2 mt-lg-3 mb-2 no-gutters">
                            <div class="col-12 col-md-9 col-lg-8">

                                <div
                                    class="position-relative align-items-center justify-content-center rounded shadow-lg d-none d-md-flex dona-video">


                                    <div class="embed-responsive rounded img-fluid embed-responsive-16by9 ">
                                        <img class="img-fluid lazyload embed-responsive-img"
                                            alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                                            data-src="img/video-thumb.jpg">
                                    </div>

                                    <a data-fancybox
                                        href="https://www.youtube.com/watch?v=vL_bAvgmysw&feature=emb_title"
                                        class="btn btn-lg btn-light rounded-circle position-absolute btn-pulse-hmm btn-fancybox-video"
                                        data-aos="zoom-in">
                                        <img src="img/icons/interface/icon-media-play.svg" alt="Media Play Icon"
                                            class="icon  bg-white pl-1" data-inject-svg>
                                    </a>
                                </div>

                                <div
                                    class="embed-responsive embed-responsive-16by9 overflow-hidden rounded shadow d-block d-md-none">
                                    <iframe class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/vL_bAvgmysw" frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>


        </div>

        <div class="container mt-4 mt-xl-5">
            <div class="row justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <div class="text-center">

                        <h2 class="font-serif  text-primary-2">Ai làm nên những điều vĩ đại ?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center mb-4 mb-md-0 vidai-item" data-aos="fade-up" data-aos-delay="250"
                    data-aos-duration="600" data-aos-offset="50">
                    <div class="avatar-anim avatar-vidai d-block mx-auto mb-3 ">
                        <img src="img/me-teresa.png" alt="Mẹ Teresa" class=" img-fluid ">
                    </div>

                    <blockquote class="blockquote p-0 border-0 ">
                        &ldquo;Không phải tất cả chúng ta đều làm được những điều vĩ đại, nhưng chúng ta có thể làm
                        những điều nhỏ bé với tình yêu vĩ đại&rdquo;
                    </blockquote>
                    <div class="d-flex flex-column align-items-center">
                        <h6 class="mb-1 text-primary-2">Mẹ Teresa
                        </h6>
                        <span class="avatar-vidai-sub">Người cống hiến cả đời để chăm sóc người nghèo, bệnh tật, trẻ mồ
                            côi. </span>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4 mb-md-0 vidai-item" data-aos="fade-up" data-aos-delay="500"
                    data-aos-duration="600" data-aos-offset="50">

                    <div class="avatar-anim avatar-vidai d-block mx-auto mb-3">
                        <img src="img/nelson-mandela.png" alt="Nelsan Mandela" class=" img-fluid ">
                    </div>

                    <blockquote class="blockquote p-0 border-0  ">
                        &ldquo;Một khối óc thông minh và một trái tim nhân hậu luôn là sự kết hợp đẹp đẽ nhất.&rdquo;
                    </blockquote>
                    <div class="d-flex flex-column align-items-center">
                        <h6 class="mb-1 text-primary-2">Nelson Mandela</h6>
                        <span class="avatar-vidai-sub">Vị lãnh tụ của phong trào đấu tranh chống chủ nghĩa phân biệt
                            chủng tộc.</span>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4 mb-md-0 vidai-item" data-aos="fade-up" data-aos-delay="750"
                    data-aos-duration="600" data-aos-offset="50">

                    <div class="avatar-anim avatar-vidai d-block mx-auto mb-3 ">
                        <img src="img/nick-vujicic.png" alt="Nick Vujicic" class=" img-fluid ">
                    </div>
                    <blockquote class="blockquote p-0 border-0 ">
                        &ldquo;Tất cả mọi điều bạn làm để khiến cuộc sống của người khác tốt đẹp hơn đều khiến cho cuộc
                        sống của bạn ý nghĩa hơn&rdquo;
                    </blockquote>
                    <div class="d-flex flex-column align-items-center">
                        <h6 class="mb-1 text-primary-2">Nick Vujicic
                        </h6>
                        <span class="avatar-vidai-sub">Người đàn ông không tay, không chân đi khắp thế giới lan truyền
                            cảm hứng về tình yêu, niềm tin cuộc sống.</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-3 mt-lg-5">
                <div class="col-12 col-lg-10 ">
                    <div class="qu-container no-quote p-0">

                        <div class="row no-gutters align-items-end">
                            <div class="col-auto d-none d-lg-block px-3">
                                <img src="img/medical-staff.png" width="250" alt="">
                            </div>
                            <div class="col">
                                <div class="p-3">
                                    <div class="mb-3 ">
                                        Chúng ta đều cho rằng bản thân mình rất bình thường, rất nhỏ bé để có thể trở
                                        nên vĩ
                                        đại, tuy nhiên, mỗi hành động nhỏ, mỗi việc ấm áp mà chúng ta mang đến cho người
                                        khác đều đang góp phần tạo nên những điều vĩ đại.

                                    </div>

                                    <div class="mb-3">

                                        <strong class="text-primary-2">Những chiến sĩ áo trắng</strong> đã làm nên điều
                                        vĩ
                                        đại vì chúng ta. <strong class="text-primary-2">MoMo</strong> tin rằng chúng ta
                                        cũng
                                        có thể mang đến điều vĩ đại cho họ.
                                    </div>
                                    <div>

                                        Bởi, mỗi người đều có một vai trò trong cuộc chiến chống đại dịch Covid-19 và
                                        hành
                                        trình tạo nên sự vĩ đại luôn khởi đầu từ những điều nhỏ bé và giản đơn.

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </section>

</div>


{% include "layouts/10dieu.html" %}

<!--                     
                    <div class="d-flex position-relative align-items-center justify-content-center rounded shadow-lg">
                        <img class="rounded img-fluid"
                            src="https://jumpstart.mediumra.re/assets/img/case-studies/thumb-2.jpg"
                            alt="Video cover image">
                        <a data-fancybox href="https://vimeo.com/166034462#t=32s"
                            class="btn btn-lg btn-light rounded-circle position-absolute" data-aos="zoom-in">
                            <img src="img/icons/interface/icon-media-play.svg" alt="Media Play Icon"
                                class="icon icon-lg bg-dark pl-1" data-inject-svg>
                        </a>
                    </div> -->



{% include "layouts/donation.html" %}



{% include "layouts/tinhnang.html" %}


<div class="o-hidden bg-white" data-overlay style="background-color: white;">

    <section class="" id="tintuc">
        <div class="container ">
            <div class="text-center">

                <h2 class="font-serif mb-4 text-primary-2" data-aos="fade-in" data-aos-offset="100"> Thư ngỏ từ các
                    “chiến sĩ áo trắng”</h2>
            </div>

            <div class="swiper-container swiper-testi">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div
                            class="embed-responsive embed-responsive-16by9 rounded overflow-hidden shadow-sm mb-0 customer-testi-img mr-3">
                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-200302114606-637187463666994055.jpg"
                                class="embed-responsive-img lazyload" alt="">
                        </div>


                        <div class="customer-testi   position-relative">

                            <blockquote class="mt-0 mb-2  font-weight-bold">
                                "Cảm ơn các bạn đã ở nhà vì chúng tôi."
                            </blockquote>

                            <div class=" text-small">Nguyễn Viết Hiếu <br><small class="text-muted">Sinh
                                    viên trường Đại học Y Hà Nội
                                </small></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="embed-responsive embed-responsive-16by9 rounded overflow-hidden shadow-sm mb-0 customer-testi-img mr-3">
                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-200302114606-637187463666994055.jpg"
                                class="embed-responsive-img lazyload" alt="">
                        </div>

                        <div class="customer-testi   position-relative">

                            <blockquote class="mt-0 mb-2 font-weight-bold">
                                "Cảm ơn các bạn vì những điều nhỏ bé nhưng tuyệt vời."
                            </blockquote>

                            <div class="text-small">Tập thể Bác sĩ <br><small class="text-muted">Bệnh
                                    viện Nhiệt đới
                                </small></div>

                        </div>
                    </div>
                    {% for item in range(0,3) %}
                    <div class="swiper-slide">
                        <div
                            class="embed-responsive embed-responsive-16by9 rounded overflow-hidden shadow-sm mb-0 customer-testi-img mr-3">
                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-200302114606-637187463666994055.jpg"
                                class="embed-responsive-img lazyload" alt="">
                        </div>
                        <div class="customer-testi   position-relative">

                            <blockquote class="mt-0 mb-2  font-weight-bold">
                                "Cảm ơn các bạn đã tiếp sức để chúng tôi chiến đấu cùng Covid"
                            </blockquote>
                            <div class=" text-small">Tập thể Sinh viên <br><small class="text-muted">Trường Đại học Y
                                    Tp.HCM
                                </small></div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>

            <br>
            <br>

            <div class="text-center">

                <h2 class="font-serif mb-4 text-primary-2" data-aos="fade-in" data-aos-offset="100"> Tin tức “điều nhỏ
                    bé vĩ đại”</h2>
            </div>

            <div class="swiper-container swiper-tintuc">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tintuc-item position-relative overflow-hidden shadow-sm rounded">
                            <div class="position-relative">
                                <a href="" data-toggle="modal" data-target="#modalTinTuc">
                                    <div class="embed-responsive tintuc-embed">
                                        <img data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-200302115006-637187466066062040.jpg"
                                            class="img-fluid rounded-top embed-responsive-img lazyload" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="content p-3">
                                <div><a href="javascript:void(0)" class="title text-dark" data-toggle="modal"
                                        data-target="#modalTinTuc">Ví MoMo thăm và tặng quà
                                        cho
                                        4 em
                                        nhỏ được hỗ trợ phẫu thuật tim MoMo thăm và tặng quà
                                        cho
                                        4 em
                                        nhỏ được hỗ trợ phẫu thuật tim</a></div>


                                <div class="row no-gutters  mt-2 align-items-center">
                                    <div class="col-auto">
                                        <div class="post-meta">
                                            <small class=" date">
                                                <img src="img/icons/interface/icon-clock.svg" alt="Media Play Icon"
                                                    class="icon icon-xs pr-1 bg-gray" style="height: 0.8rem; "
                                                    data-inject-svg>
                                                02/03/2020
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-right text-small">

                                            <a href="#" data-toggle="modal" data-target="#modalTinTuc">Chi tiết</a>

                                        </div>
                                    </div>
                                </div>




                            </div>


                        </div>
                    </div>

                    {% for item in range(0,5) %}
                    <div class="swiper-slide">
                        <div class="tintuc-item position-relative overflow-hidden shadow-sm rounded">
                            <div class="position-relative">
                                <a href="" data-toggle="modal" data-target="#modalTinTuc">
                                    <div class="embed-responsive tintuc-embed">
                                        <img data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-200302115006-637187466066062040.jpg"
                                            class="img-fluid rounded-top embed-responsive-img lazyload" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="content p-3">
                                <div><a href="javascript:void(0)" class="title text-dark" data-toggle="modal"
                                        data-target="#modalTinTuc">Ví MoMo thăm và tặng quà
                                        cho
                                        4 em
                                        nhỏ được hỗ trợ phẫu thuật tim</a></div>


                                <div class="row no-gutters  mt-2 align-items-center">
                                    <div class="col-auto">
                                        <div class="post-meta">
                                            <small class=" date">
                                                <img src="img/icons/interface/icon-clock.svg" alt="Media Play Icon"
                                                    class="icon icon-xs pr-1 bg-gray" style="height: 0.8rem; "
                                                    data-inject-svg>
                                                02/03/2020
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-right text-small">

                                            <a href="#" data-toggle="modal" data-target="#modalTinTuc">Chi tiết</a>

                                        </div>
                                    </div>
                                </div>




                            </div>


                        </div>
                    </div>

                    {% endfor %}

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>

            <!--end row-->

        </div>


    </section>


</div>



<div class="o-hidden bg-light" data-overlay style="background-color: white;">

    <section class="">
        <div class="container ">


            <div class="text-center">

                <h2 class="font-serif mb-3 h1 text-primary-2 " data-aos="fade-in" data-aos-offset="100"> Cảm ơn các đối
                    tác đồng hành</h2>
                <div class="subheading-container mb-3" data-aos="fade-up" data-aos-delay="250" data-aos-offset="100"
                    data-aos-duration="800">
                    <div class="subheading border-primary-2">Đã cùng MoMo làm nên những điều nhỏ bé vĩ đại

                    </div>

                </div>

            </div>

            <div>
                <div class="row no-gutters align-items-center mb-4 justify-content-center">
                    <div class="col-auto">
                        <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                                data-src="https://static.mservice.io/jk/lixi2/img/doitac/Circle K.png"></div>
                    </div>

                    <div class="col-auto">
                        <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                                data-src="https://static.mservice.io/jk/lixi2/img/doitac/Share Tea.png"></div>
                    </div>

                    <div class="col-auto">
                        <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                                data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_ABTrip.png"></div>
                    </div>

                    <div class="col-auto">
                        <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                                data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_PNJ.png"></div>
                    </div>

                    <div class="col-auto">
                        <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                                data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_BAEMIN.png"></div>
                    </div>

                    <div class="col-auto">
                        <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                                data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Bảo-Việt.png"></div>
                    </div>


                </div>
            </div>



        </div>


    </section>


</div>



{% include "layouts/modal-huongdan.html" %}




{% endblock %}

{% block javascript %}
<script>

    $(document).ready(function () {
        $(function () {
            $('[data-toggle="popover"]').popover();
        });

        $('.btn-fancybox-video').fancybox({
            youtube: {
                showinfo: 0
            }
        });


        // $('#myTab li:last-child a').tab('show')

        //Select Cache
        var myTabLink = $("#myTab").find(".food-tab-link");
        var myTabItem = $("#myTab").find(".nav-item");

        function checkTabCurrent() {
            var listTabMenu = myTabLink;
            var current = 0;
            listTabMenu.each(function (i) {
                if ($(this).hasClass("active")) {
                    current = i;
                    return false;
                }
            });
            return current;
        }
        function makeTabActive(cur) {
            myTabLink.each(function (i) {
                if (i == cur) {
                    $(this).tab('show');
                    $(this)[0].scrollIntoView();

                    if ($(window).width() > 700) {
                        document.documentElement.scrollTop -= 150;
                    } else {
                        document.documentElement.scrollTop -= 10;

                    }

                }
            })
        }
        function checkTabLength() {
            var listTabMenu = myTabItem;
            return listTabMenu.length;
        }

        var tabLength = checkTabLength() - 1;
        var tabCur = checkTabCurrent();


        var swiperUserTesti = new Swiper('.swiper-user-testi', {
            slidesPerView: 'auto',
            spaceBetween: 20,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            }
        });


        //SWIPER TAB JS



        var swiperTabItem = new Swiper('.swiper-tab-tinhnang', {
            slidesPerView: 'auto',
            spaceBetween: 5,
            threshold: 4,
            // centeredSlides: true,
            on: {
                slideChangeTransitionEnd: function () {
                    // console.log("dwd");

                }
            }
        });


        var curIndex = checkTabCurrent(); // =0
        var actIndex = 0; // =0

        // $('.tinhnang-loadmore').readmore({
        //     speed: 75,
        //     moreLink: '<a href="#">Xem thêm</a>',
        //     lessLink: '<a href="#">Thu gọn</a>'
        // });

        var tinhnangReadmore = new Readmore('.tinhnang-loadmore', {
            speed: 75,
            moreLink: '<a href="#">Xem thêm <img src="img/icons/interface/icon-chevron-down.svg" > </a>',
            lessLink: '<a href="#">Thu gọn  <img src="img/icons/interface/icon-chevron-up.svg" ></a>'
        }); 

        $('a.food-tab-link ').on('shown.bs.tab', function (e) {
            actIndex = checkTabCurrent();

            // swiperTabItem.slideTo(actIndex);


            if ($(window).width() < 500) {
                if (curIndex < actIndex) {
                    swiperTabItem.slideTo(actIndex);
                } else {
                    swiperTabItem.slideTo(actIndex - 1);
                }
            } else {
                if (curIndex < actIndex) {
                    swiperTabItem.slideTo(actIndex - 2);
                } else {
                    swiperTabItem.slideTo(actIndex - 1);
                }

            }

            // if ($(window).width() >= 500 && $(window).width() < 800) {
            //     if (curIndex < actIndex) {
            //         swiperTabItem.slideTo(actIndex-2);
            //     } else {
            //         swiperTabItem.slideTo(actIndex - 1);
            //     }
            // }

            // if ($(window).width() >= 800 && $(window).width() < 1200) {
            //     if (curIndex < actIndex) {
            //         swiperTabItem.slideTo(actIndex-3);
            //     } else {
            //         swiperTabItem.slideTo(actIndex - 1);
            //     }
            // }

            // if ($(window).width() >= 1200) {
            //     if (curIndex < actIndex) {
            //         swiperTabItem.slideTo(actIndex-4);
            //     } else {
            //         swiperTabItem.slideTo(actIndex - 1);
            //     }
            // }


            // console.log("left" +curIndex);
            // console.log("right" +actIndex);

            curIndex = actIndex;



            // if ($(window).width() > 700) {
            // } else {
            //     tabCur = checkTabCurrent();
            // $(this)[0].scrollIntoView();
            //     document.documentElement.scrollTop -= 10;

            // }
            // $(".navbar-lacxi").addClass("is-hidden");

            // swiperTabItem.slideTo(actIndex - 4);
            // console.log(swiperTabItem.activeIndex);
            $('.tinhnang-loadmore').readmore('destroy');
            $('.tinhnang-loadmore').readmore({
                speed: 75,
                moreLink: '<a href="#">Xem thêm</a>',
                lessLink: '<a href="#">Thu gọn</a>'
            });

        })

        //END HERE


        particlesJS("particles-js", {
            particles: {
                number: { value: 160, density: { enable: true, value_area: 1000 } },
                color: { value: "#7388DF" },
                shape: {
                    type: "circle",
                    stroke: { width: 0, color: "white" },
                    polygon: { nb_sides: 5 }
                },
                opacity: {
                    value: 1,
                    random: true,
                    anim: { enable: true, speed: 1, opacity_min: 0, sync: false }
                },
                size: {
                    value: 5,
                    random: true,
                    anim: { enable: false, speed: 4, size_min: 0.3, sync: false }
                },
                line_linked: {
                    enable: false,
                    distance: 150,
                    color: "#7388DF",
                    opacity: 0.4,
                    width: 1
                },
                move: {
                    enable: true,
                    speed: 1,
                    direction: "none",
                    random: true,
                    straight: false,
                    out_mode: "out",
                    bounce: false,
                    attract: { enable: false, rotateX: 600, rotateY: 600 }
                }
            },
            interactivity: {
                detect_on: "canvas",
                events: {
                    onhover: { enable: false, mode: "bubble" },
                    onclick: { enable: false, mode: "repulse" },
                    resize: true
                }
            },
            retina_detect: true
        });

        particlesJS("particles-js2", {
            particles: {
                number: { value: 160, density: { enable: true, value_area: 1000 } },
                color: { value: "#7388DF" },
                shape: {
                    type: "circle",
                    stroke: { width: 0, color: "white" },
                    polygon: { nb_sides: 5 }
                },
                opacity: {
                    value: 1,
                    random: true,
                    anim: { enable: true, speed: 1, opacity_min: 0, sync: false }
                },
                size: {
                    value: 5,
                    random: true,
                    anim: { enable: false, speed: 4, size_min: 0.3, sync: false }
                },
                line_linked: {
                    enable: false,
                    distance: 150,
                    color: "#7388DF",
                    opacity: 0.4,
                    width: 1
                },
                move: {
                    enable: true,
                    speed: 1,
                    direction: "none",
                    random: true,
                    straight: false,
                    out_mode: "out",
                    bounce: false,
                    attract: { enable: false, rotateX: 600, rotateY: 600 }
                }
            },
            interactivity: {
                detect_on: "canvas",
                events: {
                    onhover: { enable: false, mode: "bubble" },
                    onclick: { enable: false, mode: "repulse" },
                    resize: true
                }
            },
            retina_detect: true
        });



        var htuSwiper = new Swiper(".htu-slider", {
            loop: false,
            // Disable preloading of all images
            preloadImages: false,
            // Enable lazy loading
            lazy: {
                loadPrevNext: true
            },
            slidesPerView: 1,

            effect: "fade",
            fadeEffect: {
                crossFade: true
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            }
        });

        $(".htu-modal").on("shown.bs.modal", function () {
            console.log("dwdw");
            var mySwiper = this.querySelector(".swiper-container").swiper;
            console.log(mySwiper);
            mySwiper.update();

            // $(this).find(".htu-slider").swiper().update();
        });
    })




    var swiperTesti = new Swiper('.swiper-testi', {
        slidesPerView: 3,
        spaceBetween: 20,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            767: {
                slidesPerView: 2
            },
            540: {
                slidesPerView: 1
            },
            320: {
                slidesPerView: 1
            }
        },
    });

    var swiperTesti2 = new Swiper('.swiper-tintuc', {
        slidesPerView: 3,
        spaceBetween: 20,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            767: {
                slidesPerView: 2
            },
            540: {
                slidesPerView: 1
            },
            320: {
                slidesPerView: 1
            }
        },
    });


    var swiperProduct = new Swiper(".product-slider", {
        slidesPerView: 5,
        slidesPerGroup: 1,
        spaceBetween: 0,
        breakpoints: {
            767: {
                slidesPerView: 3
            },
            540: {
                slidesPerView: 2
            },
            320: {
                slidesPerView: 1
            }
        },
        // Enable lazy loading
        lazy: {
            loadPrevNext: true
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        }
    });

    $(".tinhnang-tab .nav-link").on("shown.bs.tab", function (e) {
        console.log("dwdw")
        var nodesArray2 = Array.prototype.slice.call(
            document.querySelectorAll(".product-slider")
        );
        if (nodesArray2) {
            nodesArray2.forEach(function (e) {
                e.swiper.update();
            });
        }

    });

    var apiURL =
        "https://jsonplaceholder.typicode.com/comments";

    var add = new Vue({
        el: '#list-complete-demo',
        delimiters: ['${', '}'],
        data: {
            comments: [],
            num: 0,
            amount: 2,
            limit: 50
        },
        computed: {
            commentsTop: function () {
                return this.comments.slice(this.num, this.num + this.amount)
            }
        },
        created: function () {
            this.fetchData();
            this.addInterval();
        },

        filters: {
            truncate: function (v) {
                var newline = v.indexOf("\n");
                return newline > 0 ? v.slice(0, newline) : v;
            },
            formatDate: function (v) {
                return v.replace(/T|Z/g, " ");
            }
        },
        methods: {
            add: function () {
                if ((this.num + this.amount) >= this.limit) {
                    this.num = 0;
                } else {
                    this.num++;
                }
            },
            addInterval: function () {
                const self = this;
                var rand = Math.round(Math.random() * 5000) + 5000;
                this.interVal = setInterval(function () {
                    self.add();
                    // add.addInterval();
                }, rand);
            },
            fetchData: function () {
                var xhr = new XMLHttpRequest();
                var self = this;
                xhr.open("GET", apiURL);
                xhr.onload = function () {
                    self.comments = JSON.parse(xhr.responseText);
                    self.limit = self.comments.length;
                    // console.log(self.commits[0].html_url);
                };
                xhr.send();
            }
        }
    })

    var add2 = new Vue({
        el: '#list-complete-demo2',
        delimiters: ['${', '}'],
        data: {
            comments: [],
            num: 0,
            amount: 2,
            limit: 50
        },
        computed: {
            commentsTop: function () {
                return this.comments.slice(this.num, this.num + this.amount)
            }
        },
        created: function () {
            this.fetchData();
            this.addInterval();
        },

        filters: {
            truncate: function (v) {
                var newline = v.indexOf("\n");
                return newline > 0 ? v.slice(0, newline) : v;
            },
            formatDate: function (v) {
                return v.replace(/T|Z/g, " ");
            }
        },
        methods: {
            add: function () {
                if ((this.num + this.amount) >= this.limit) {
                    this.num = 0;
                } else {
                    this.num++;
                }
            },
            addInterval: function () {
                const self = this;
                var rand = Math.round(Math.random() * 5000) + 5000;
                this.interVal = setInterval(function () {
                    self.add();
                    // add2.addInterval();
                }, rand);
            },
            fetchData: function () {
                var xhr = new XMLHttpRequest();
                var self = this;
                xhr.open("GET", apiURL);
                xhr.onload = function () {
                    self.comments = JSON.parse(xhr.responseText);
                    self.limit = self.comments.length;
                    // console.log(self.commits[0].html_url);
                };
                xhr.send();
            }
        }
    })

</script>
{% endblock %}