// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.

// Color Scheme
// Change the hex values below to alter the main color scheme.
$momo: #A50064;
$momo-1: #E81F76;
$momo-2: #AE2070;

$momo-purple: #711AAA;

// $momo-gradient : linear-gradient(to right, $momo, $momo-1);
$momo-gradient : linear-gradient(to right, #E82176, #A42067);

// Color Scheme
// Change the hex values below to alter the main color scheme.

$primary:      #2568EF;
$primary-2:     #E81F76;
$primary-3:     #54147b;

$gradient-momo : linear-gradient(to right, #E82176, #A42067, );

// Do not change or remove the $theme-color-scheme or $theme-colors maps below

$theme-color-scheme: (
    "primary":    $primary,
    "primary-2":  $primary-2,
    "primary-3":  $primary-3
);

$theme-colors: (
    "primary":    $primary,
    "primary-2":  $primary-2,
    "primary-3":  $primary-3,
);
