<section class=" bg-gradient text-white o-hidden position-relative section-10dieu"  id="songkhoe">
  <div class="container">
    <div class="row section-title mb-4 justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">


        <div class="text-center">

          <h2 class="font-serif mb-3 h1 " data-aos="fade-in" data-aos-offset="100"> Sống khỏe</h2>
          <div class="subheading-container mb-3" data-aos="fade-up" data-aos-delay="250"  data-aos-offset="100" data-aos-duration="800">
            <div class="subheading">
              <strong class="text-warning">10 lợi ích</strong> nhỏ bé khi đi bộ <strong class="text-warning">4.000
                bước</strong> mỗi ngày
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="row  align-items-end">
      <div class="col-12 col-sm-6 col-lg-4">

        <ul class="list-unstyled hmm">
          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">1</span></div>
            <span>
              Tăng cường sức đề kháng mùa dịch
            </span>
          </li>

          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">2</span></div>
            <span>
              Giúp hệ hô hấp khoẻ mạnh hơn
            </span>
          </li>

          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">3</span></div>
            <span>
              Ngăn ngừa bệnh mãn tính, tim mạch
            </span>
          </li>

          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">4</span></div>
            <span>
              Tăng độ linh hoạt cho xương khớp
            </span>
          </li>

          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">5</span></div>
            <span>
              Cải thiện hệ thống tiêu hoá
            </span>
          </li>
        </ul>

      </div>
      <div class="col-12 col-lg-4 d-none d-lg-block"  data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" data-aos-offset="50">

        <img src="img/hinhsongkhoe.png" class="img-fluid d-block mx-auto" alt="">

      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <ul class="list-unstyled hmm hmm-right">
          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">6</span></div>
            <span>
              Giữ dáng, giảm cân hiệu quả
            </span>
          </li>

          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">7</span></div>
            <span>
              Duy trì vẻ ngoài trẻ trung, tăng tuổi thọ
            </span>
          </li>

          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">8</span></div>
            <span>
              Tăng cường trí nhớ, khả năng sáng tạo
            </span>
          </li>

          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">9</span></div>
            <span>
              Gia tăng hiệu suất làm việc
            </span>
          </li>

          <li class="hmm-item">
            <div class="cirlewhite">
              <span class="so">10</span></div>
            <span>
              Giúp tâm trạng lạc quan, vui vẻ
            </span>
          </li>
        </ul>
      </div>

    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-12 col-lg-8">
        <div class="text-left text-lg-center">
          Chỉ cần đi bộ <strong class="text-warning">4.000 bước mỗi ngày</strong>, bạn sẽ trở nên khoẻ hơn. Khoẻ hơn để
          bảo vệ chính mình và góp phần bảo vệ
          cộng đồng.

          Hãy cùng MoMo thực hiện điều đó, đồng thời lan toả và rủ rê người thân, bạn bè ‘nhập cuộc ’Sống khoẻ’ với
          MoMo!

        </div>
      </div>
    </div>

    <div class="mt-4 text-center">
      <a href="#" class=" d-none d-md-inline-block btn btn-primary py-2 btn-warning rounded-pill btn-dropshadow btn-pulse" data-toggle="modal" data-target="#modal-huongdan">
        Hướng dẫn sống khỏe
      </a>
      <a href="#" class="d-inline-block d-md-none btn btn-primary py-2 btn-warning rounded-pill btn-dropshadow btn-pulse" data-toggle="modal" data-target="#htu-modal">
        Hướng dẫn sống khỏe
      </a>
      
    </div>


  </div>

  <div id="particles-js2">
  </div>
</section>