{% import "macros/macros.html" as macros %}


<!doctype html>
<html lang="en">

<head>
    <!-- Describes the encoding of the page to the browser -->
    <meta charset="utf-8">

    <!-- Sets the title of the page.  Shown in the tab of your browser -->
    <title>Desmond template</title>

    <!-- Required for Bootstrap's responsive media queries to function -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta tag for basic SEO -->
    <meta name="description" content="Momo">

    {% if preloader %}
    <!-- Start Page Loader -->
    <style>
        @keyframes hideLoader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.loader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.loader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.loader {
            animation: hideLoader .5s linear .5s forwards;
        }

        .loading-animation {
            width: 40px;
            height: 40px;
            margin: 100px auto;
            background-color: #2568ef;
            border-radius: 100%;
            animation: pulse 1s infinite ease-in-out
        }

        @keyframes pulse {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0
            }
        }
    </style>
    <script type="text/javascript">
        window.addEventListener("load", function () { document.querySelector('body').classList.add('loaded'); });
    </script>
    <!-- End loading animation -->



    {% endif %}


    <script src="js/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

    {% block head %}

    {% endblock %}
    <!-- Main Theme CSS styles -->
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" /> -->

    <!-- Font linked from external Google Fonts resource -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,800&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;1,600&display=swap"
        rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:600,600i,700&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">

</head>

<body data-smooth-scroll-offset="0" data-offset="120" data-spy="scroll" data-target=".menu-lacxi">
    <!-- Main Nav Bar -->

    {% if preloader %}
    <!-- Start Loader -->
    <div class="loader">
        <div class="loading-animation"></div>
    </div>
    <!-- End Loader -->
    {% endif %}


    {% block header %}
    {% include "layouts/header.html" %}
    {% endblock %}


    <!-- Main Body Content -->
    {% block content %}

    {% endblock %}


    <!-- Footer -->

    {% block footer %}

    {% endblock %}

    {% include "layouts/modal.html" %}
    <!-- <footer class="bg-white border-top text-white links-white pb-4 pt-4 footer-1">
        <div class="container">
            <div class="row flex-column flex-lg-row align-items-center justify-content-center ">
                <div class="col-auto">
                    <div class="d-flex flex-column flex-sm-row align-items-center text-small">
                        <div class="text-dark">
                            © Copyright M_Service 2019
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer> -->

    <!-- "Back to top" button -->

    <a href="#top" class="btn btn-primary-3 rounded-circle btn-back-to-top" data-smooth-scroll
        data-smooth-scroll-offset="120px" data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true"
        data-aos-once="false">
        <img src="img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-white" data-inject-svg>
    </a>



    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    
    <script type="text/javascript" src="js/bootstrap-fix.js"></script>
    <!-- <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->

    <script type="text/javascript" src="js/lazysizes.min.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="js/aos.js"></script>

    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="js/clipboard.min.js"></script>

    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>


    <!-- Flatpickr (calendar/date/time picker UI) -->
    <!-- <script type="text/javascript" src="js/flatpickr.min.js"></script> -->

    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <!-- <script type="text/javascript" src="js/flickity.pkgd.min.js"></script> -->

    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <!-- <script type="text/javascript" src="js/ion.rangeSlider.min.js"></script> -->

    <!-- Isotope (masonry layouts and filtering) -->
    <!-- <script type="text/javascript" src="js/isotope.pkgd.min.js"></script> -->

    <!-- jarallax (parallax effect and video backgrounds) -->
    <!-- <script type="text/javascript" src="js/jarallax.min.js"></script>
    <script type="text/javascript" src="js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="js/jarallax-element.min.js"></script> -->

    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>

    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="js/plyr.polyfilled.min.js"></script>

    <!-- Prism (displays formatted code boxes) -->
    <!-- <script type="text/javascript" src="js/prism.js"></script> -->

    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="js/scrollMonitor.js"></script>

    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="js/smooth-scroll.polyfills.min.js"></script>

    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="js/svg-injector.umd.production.js"></script>

    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <!-- <script type="text/javascript" src="js/twitterFetcher_min.js"></script> -->

    <!-- Typed text (animated typing effect)-->
    <!-- <script type="text/javascript" src="js/typed.min.js"></script> -->


    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="js/theme.js"></script>

    <script type="text/javascript" src="js/swiper.min.js"></script>

    <!-- <script type="text/javascript" src="js/modernizr.custom.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquerypp.custom.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquery.bookblock.js"></script> -->

    <!-- <script type="text/javascript" src="js/custom.js"></script> -->

    <!-- <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> -->
    <script src="js/particles.min.js"></script>
    <!-- Scripts -->

    <script type="text/javascript" src="js/readmore.js"> </script>

    
    <script type="text/javascript" src="js/custom.js"></script>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/readmore-js@2.2.1/readmore.js"> </script> -->

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
    {% block javascript %}


    {% endblock %}



</body>

</html>