<div class="container charity-stat-container ">
  <div class="row no-gutters justify-content-center">
    <div class="col-6 col-md-3">
      <div class="charity-stat">
        <div class="charity-stat-img">
          <img src="img/4/Group 310.png" class="img-fluid d-block mx-auto" alt="">
        </div>
        <div class="charity-stat-num">
          <span data-countup data-start="0" data-end="534982" data-duration="" data-decimal-places="" data-prefix=""
            data-separator="." data-decimal-character="" data-grouping="true" data-suffix="" data-easing="">0</span>
          lượt
        </div>
        <div class="charity-stat-label">
          Lượt tham gia <br> quyên góp
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="charity-stat">

        <div class="charity-stat-img">
          <img src="img/4/Group 312.png" class="img-fluid d-block mx-auto" alt="">
        </div>
        <div class="charity-stat-num">
          <span data-countup data-start="0" data-end="398345" data-duration="" data-decimal-places="" data-prefix=""
            data-separator="." data-decimal-character="" data-grouping="true" data-suffix="" data-easing="">0</span>
          lượt
        </div>



        <div class="charity-stat-label">
          Người tham gia <br> quyên góp
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="charity-stat">
        <div class="charity-stat-img">
          <img src="img/4/Group 313.png" class="img-fluid d-block mx-auto" alt="">
        </div>


        <div class="charity-stat-num">

          <span data-countup data-start="0" data-end="510345888" data-duration="" data-decimal-places="" data-prefix=""
            data-separator="." data-decimal-character="" data-grouping="true" data-suffix="" data-easing="">0</span>
          đồng



        </div>

        <div class="charity-stat-label">
          Sẽ được gửi đến <br>
          Uỷ ban Mặt trận Tổ Quốc Việt Nam

        </div>
      </div>
    </div>




    <div class="col-6 col-md-3">
      <div class="charity-stat">



        <div class="charity-stat-img">
          <img src="img/4/Group 366.png" class="img-fluid d-block mx-auto" alt="">
        </div>
        <div class="charity-stat-num">
          <span data-countup data-start="0" data-end="201344" data-duration="" data-decimal-places="" 
          data-prefix="" data-separator="." data-decimal-character="" data-grouping="true" data-suffix="" data-easing="">0</span>
           heo vàng
        </div>

        <div class="charity-stat-label">
          Được quyên góp cho <br>Sinh viên Đại học Y Hà Nội
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    
    <div class="chiso-update">

      Số liệu được cập nhật dến HH:MM ngày DD/MM/YYYY
    </div>
  </div>
</div>