
<div class="bg-white o-hidden bg-dibo" data-overlay style="background-image: url('img/map.png');">

    <section class="">
        <div class="container ">
            <div class="text-center">
                <h2 class="font-serif mb-2 ">Lựa chọn sống khỏe</h2>
                <p class="lead">Cùng MoMo đi bộ vòng quanh trái đất</p>
            </div>


            <div
                class="row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
                <div class="col-12 col-lg-6">

                </div>
                <div class="col-12 col-lg-6">

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-xl-6 col-lg-6 col-md-9 text-center text-lg-left mb-5 mb-lg-0">
                    <div class="over-text">
                        <p>
                            Bạn có biết, Trái đất của chúng ta có chu vi 41.025 km. Với 4.000 bước chân mỗi ngày, mỗi
                            người
                            cần ít nhất 54 năm để đi một vòng Trái đất.
                        </p>

                        <blockquote class="blockquote text-primary-2 p-0 border-0 ">
                            “Một cuộc hành trình ngàn dặm… bắt đầu từ một bước chân nhỏ bé”
                        </blockquote>
                        <p class="">Để khoẻ hơn bạn không cần làm IRONMAN hay vận động viên Marathon.
                        </p>
                        <p>
                            Hãy bắt đầu bằng những bước thật chậm.
                        </p>
                        <p>
                            Chỉ cần 4.000 bước chân mỗi ngày để khoẻ hơn. Khoẻ hơn để bảo vệ chính mình và góp phần bảo
                            vệ
                            cộng đồng.

                        </p>
                        <p>
                            Hãy làm điều đó và lan toả đến cho bạn bè & hãy rủ bạn bè của bạn cùng ‘nhập cuộc’.

                        </p>

                        <div>
                            <button type="button" class="btn btn-primary btn-sm btn-primary-2">Hướng dẫn sống
                                khỏe</button>
                        </div>
                    </div>

                </div>
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="card shadow-lg widget-running" style="background-image: url('img/nguoidibo.png')">

                        <div class="card-body">
                            <div class="text-small font-weight-bold widget-badget">HÔM NAY</div>

                            <h2 class="mb-2 text-primary-2">1.050.000 <span class="h5 font-weight-bold text-primary">+5
                                    %</span> </h2>
                            <div class="">Người tham gia đi bộ</div>

                            <div>
                                <hr class="my-2 ml-0" style="z-index: -1; max-width: 150px;">

                                <strong>4.202.000 km</strong> được hoàn thành
                            </div>
                        </div>
                    </div>

                    <h5 class="mt-5 text-dark font-weight-normal">
                        <img src="img/earch.png" width="45" alt="">
                        <strong>105</strong> vòng trái đất được xác lập
                    </h5>
                </div>

            </div>
        </div>

        <div class="circle-animation ">
            <div class="circle-animation-l1 ca"><span class="circle-animation-l1-d1 ca-dot ca-color-1"></span><span
                    class="circle-animation-l1-d2 ca-dot ca-color-2"></span><span
                    class="circle-animation-l1-d3 ca-dot ca-color-3"></span><span
                    class="circle-animation-l1-d4 ca-dot ca-color-1"></span><span
                    class="circle-animation-l1-d5 ca-dot ca-color-2"></span><span
                    class="circle-animation-l1-d6 ca-dot ca-color-3"></span></div>
            <div class="circle-animation-l2 ca"><span class="circle-animation-l2-d1 ca-dot ca-color-1"></span><span
                    class="circle-animation-l2-d2 ca-dot ca-color-3"></span><span
                    class="circle-animation-l2-d3 ca-dot ca-color-2"></span><span
                    class="circle-animation-l2-d4 ca-dot ca-color-1"></span><span
                    class="circle-animation-l2-d5 ca-dot ca-color-2"></span></div>

        </div>
    </section>
</div>


<div class="text-center">

    <h2 class="font-serif mb-3 h1 " data-aos="fade-in" data-aos-offset="100"> Sống khỏe</h2>
    <div class="subheading-container mb-3" data-aos="fade-up" data-aos-delay="250"  data-aos-offset="100" data-aos-duration="800">
      <div class="subheading">
        <strong class="text-warning">10 lợi ích</strong> nhỏ bé khi đi bộ <strong class="text-warning">4.000
          bước</strong> mỗi ngày
      </div>

    </div>

  </div>