<div class="o-hidden">

    <section class="bg-white  " id="songtot">
        <div class="container ">
            <div class="text-center mb-3 mb-lg-5">
                <h2 class="font-serif text-primary-2 mb-0 h1" data-aos="fade-in" data-aos-offset="100">Sống tốt</h2>
            </div>


            <div class="row  justify-content-center text-lg-left">

                <div class="col-md-6 col-12 mb-4">
                    <div class="card h-100 hover-box-shadow shadow-sm dona-item ">

                        <div class="d-block bg-gradient rounded-top position-relative">

                            <div class="embed-responsive embed-responsive-16by9 tt-image-container">
                                <div class="embed-responsive-img">
                                    <img class="img-fluid lazyload" alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                                        data-src="https://static.mservice.io/blogscontents/momo-upload-api-200314095052-637197762526417465.jpg">
                                </div>


                                <div class="dona-live bg-transparent">
                                    <div id="list-complete-demo" class="demo">
                                        <transition-group name="list-complete" class="list-complete" tag="div">
                                            <div class=" list-complete-item dona-live-item" v-for="item in commentsTop"
                                                v-bind:key="item.id">
                                                <div class="media rounded align-items-center ">


                                                    <div class="text-white mb-0 flex-grow-1">
                                                        <div class="name">
                                                            Nguyen Thi Nguyen <span> - xxxxxx4456 </span>
                                                        </div>
                                                        <div class="text">
                                                            ${ item.name | truncate }
                                                        </div>
                                                    </div>

                                                    <!-- <div class="font-weight-bold text-white">
                                                        ${ Math.round((Math.random() * 500000)) }đ
                                                    </div> -->
                                                </div>
                                            </div>

                                        </transition-group>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="card-body dona-body d-flex flex-column">
                            <h4 class="text-primary-2 dona-title">Đồng lòng cùng Mặt trận Tổ quốc Việt Nam
                            </h4>

                            <div class="row no-gutters mt-1 flex-grow-1">
                                <div class="col">
                                    <p class="dona-desc">
                                        Đồng lòng cùng MTTQ Việt Nam là một hoạt động của Ví MoMo phối hợp cùng UBTW
                                        MTTQ kết
                                        nối sức mạnh cộng đồng.
                                    </p>
                                    <p class="dona-desc">
                                        Đồng lòng cùng MTTQ Việt Nam là một hoạt động của Ví MoMo phối hợp cùng UBTW
                                        MTTQ kết
                                        nối sức mạnh cộng đồng.
                                    </p>



                                </div>
                                <div class="col-auto pl-4 mt-1 d-none d-lg-block">
                                    <img src="	https://static.mservice.io/images/s/momo-upload-api-200331152848-637212653280019313.jpeg"
                                        class="img-fluid d-block mx-auto" width="100" alt="">
                                    <div class=" mt-2 text-small"> Quét mã để Quyên góp </div>
                                </div>


                            </div>


                            <div class="mt-3">
                                <div class="d-none d-lg-block text-center">
                                    <button type="button" class="btn btn-primary-2 rounded-pill " data-toggle="modal"
                                        data-target="#modal-huongdan">Hướng dẫn quyên
                                        góp</button>
                                </div>
                                <div class="d-block d-lg-none text-center">
                                    <button type="button" class="btn btn-primary-2 rounded-pill">Quyên góp
                                        ngay</button>
                                </div>


                                <!-- <div class="mt-3 text-center">
                                    <a href="" class="text-small" data-toggle="modal"
                                        data-target="#modal-donation-list">Xem
                                        tất cả lời nhắn</a>
                                </div> -->
                            </div>





                        </div>


                    </div>
                </div>

                <div class="col-md-6 col-12 mb-4">
                    <div class="card h-100 hover-box-shadow shadow-sm dona-item ">

                        <div class="d-block bg-gradient rounded-top position-relative">

                            <div class="embed-responsive embed-responsive-16by9 tt-image-container">
                                <div class="embed-responsive-img">
                                    <img class="img-fluid " alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                                        src="https://static.mservice.io/blogscontents/momo-upload-api-200314095052-637197762526417465.jpg">
                                </div>


                                <div class="dona-live bg-transparent">
                                    <div id="list-complete-demo2" class="demo">
                                        <transition-group name="list-complete" class="list-complete" tag="div">
                                            <div class=" list-complete-item dona-live-item" v-for="item in commentsTop"
                                                v-bind:key="item.id">
                                                <div class="media rounded align-items-center ">


                                                    <div class="text-white mb-0 flex-grow-1">
                                                        <div class="name">
                                                            Nguyen Thi Nguyen <span> - xxxxxx4456 </span>
                                                        </div>
                                                        <div class="text">
                                                            ${ item.name | truncate }
                                                        </div>
                                                    </div>

                                                    <!-- <div class="font-weight-bold text-white">
                                                        ${ Math.round((Math.random() * 500000)) }đ
                                                    </div> -->
                                                </div>
                                            </div>

                                        </transition-group>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="card-body dona-body d-flex flex-column">
                            <h4 class="text-primary-2 dona-title">Đồng lòng cùng Mặt trận Tổ quốc Việt Nam
                            </h4>

                            <div class="row no-gutters mt-1 flex-grow-1">
                                <div class="col">
                                    <p class="dona-desc">
                                        Đồng lòng cùng MTTQ Việt Nam là một hoạt động của Ví MoMo phối hợp cùng UBTW
                                        MTTQ kết
                                        nối sức mạnh cộng đồng.
                                    </p>



                                </div>
                                <div class="col-auto pl-4 mt-1 d-none d-lg-block">
                                    <img src="	https://static.mservice.io/images/s/momo-upload-api-200331152848-637212653280019313.jpeg"
                                        class="img-fluid d-block mx-auto" width="100" alt="">
                                    <div class=" mt-2 text-small"> Quét mã để Quyên góp </div>
                                </div>


                            </div>


                            <div class="mt-3">
                                <div class="d-none d-lg-block text-center">
                                    <button type="button" class="btn btn-primary-2 rounded-pill " data-toggle="modal"
                                        data-target="#modal-huongdan">Hướng dẫn quyên
                                        góp</button>
                                </div>
                                <div class="d-block d-lg-none text-center">
                                    <button type="button" class="btn btn-primary-2 rounded-pill">Quyên góp
                                        ngay</button>
                                </div>


                                <!-- <div class="mt-3 text-center">
                                    <a href="" class="text-small" data-toggle="modal"
                                        data-target="#modal-donation-list">Xem
                                        tất cả lời nhắn</a>
                                </div> -->
                            </div>





                        </div>


                    </div>
                </div>


            </div>
        </div>




    </section>



</div>