<div class="o-hidden">

    <section class="bg-white  " id="songtot">

        <div class="container">

            <div class="text-center mb-3 mb-lg-5">
                <h2 class="font-serif text-primary-2 mb-0 h1" data-aos="fade-in" data-aos-offset="100">Sống tốt</h2>
            </div>


            <div class="row justify-content-center">

                <div class="col-12 col-md-6 col-lg-5">
                    <div class="campaign-box mb-3 mb-lg-0">
                        <div class="campaign-image">

                            <div class="embed-responsive embed-responsive-16by9 ">
                                <div class="embed-responsive-img">
                                    <img class="img-fluid lazyload"
                                        alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                                        data-src="	https://static.mservice.io/images/s/momo-upload-api-200407105203-637218535232309001.jpeg">
                                </div>
                            </div>
                        </div>

                        <div class="campaign-content">
                            <h4 class="campaign-title">
                                Đồng lòng cùng Ủy Ban TW Mặt Trận Tổ Quốc Việt Nam
                            </h4>

                            <div class="row no-gutters">
                                <div class="col">
                                    <p class="campaign-desc">
                                        Toàn bộ số tiền đóng góp sẽ được chuyển đến Ủy Ban Trung Ương Mặt Trận Tổ Quốc
                                        Việt Nam

                                        Toàn bộ số tiền đóng góp sẽ được chuyển đến Ủy Ban Trung Ương Mặt Trận Tổ Quốc
                                        Việt Nam
                                        Toàn bộ số tiền đóng góp sẽ được chuyển đến Ủy Ban Trung Ương Mặt Trận Tổ Quốc
                                        Việt Nam

                                    </p>
                                </div>

                                <div class="col-auto pl-2 mt-1 d-none d-lg-block">
                                    <img src="https://static.mservice.io/img/momo-upload-api-200403134853-637215185338434267.png"
                                        class="img-fluid d-block mx-auto" width="90" alt="">
                                    <div class=" mt-1" style="font-size: 11px;"> Quét mã để Quyên góp </div>
                                </div>
                            </div>


                            <div class="row no-gutters align-items-end">
                                <div class="col">
                                    <div class="campaign-money">
                                        <strong class="value">153.807.469đ </strong>
                                        được quyên góp
                                    </div>
                                </div>
                                <div class="col-auto pl-2">
                                    <div class="campaign-money">
                                        300.000.000đ
                                    </div>
                                </div>
                            </div>

                            <div class="campaign-progress">

                                <div class="progress" style="height:8px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                            </div>

                            <div class="campaign-status">
                                <div class="campaign-status-item">

                                    <div class="campaign-status-label">
                                        Người đã chung tay
                                    </div>

                                    <div class="campaign-status-value">
                                        61.808
                                    </div>

                                </div>
                                <div class="campaign-status-item">
                                    <div class="campaign-status-label">
                                        Thời hạn còn
                                    </div>

                                    <div class="campaign-status-value">
                                        26 ngày
                                    </div>
                                </div>
                                <div class="campaign-status-item flex-grow-1 text-right">
                                    <a href="detail.html" target="" class="btn btn-primary-2 font-weight-bold">CHI
                                        TIẾT</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="campaign-box mb-3 mb-lg-0">
                        <div class="campaign-image">

                            <div class="embed-responsive embed-responsive-16by9 ">
                                <div class="embed-responsive-img">
                                    <img class="img-fluid lazyload"
                                        alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                                        data-src="	https://static.mservice.io/images/s/momo-upload-api-200407105203-637218535232309001.jpeg">
                                </div>
                            </div>
                        </div>

                        <div class="campaign-content">
                            <h4 class="campaign-title">
                                Đồng lòng cùng Ủy Ban TW Mặt Trận Tổ Quốc Việt Nam
                            </h4>

                            <div class="row no-gutters">
                                <div class="col">
                                    <p class="campaign-desc">
                                        Toàn bộ số tiền đóng góp sẽ được chuyển đến Ủy Ban T
                                    </p>
                                </div>

                                <div class="col-auto pl-2 mt-1 d-none d-lg-block">
                                    <img src="https://static.mservice.io/img/momo-upload-api-200403134853-637215185338434267.png"
                                        class="img-fluid d-block mx-auto" width="90" alt="">
                                    <div class=" mt-1" style="font-size: 11px;"> Quét mã để Quyên góp </div>
                                </div>
                            </div>
                            <div class="row no-gutters align-items-end">
                                <div class="col">
                                    <div class="campaign-money">
                                        <strong class="value">153.807.469đ </strong>
                                        được quyên góp
                                    </div>
                                </div>
                                <div class="col-auto pl-2">
                                    <div class="campaign-money">
                                        300.000.000đ
                                    </div>
                                </div>
                            </div>

                            <div class="campaign-progress">

                                <div class="progress" style="height:8px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                            </div>

                            <div class="campaign-status">
                                <div class="campaign-status-item">

                                    <div class="campaign-status-label">
                                        Người đã chung tay
                                    </div>

                                    <div class="campaign-status-value">
                                        61.808
                                    </div>

                                </div>
                                <div class="campaign-status-item">
                                    <div class="campaign-status-label">
                                        Thời hạn còn
                                    </div>

                                    <div class="campaign-status-value">
                                        26 ngày
                                    </div>
                                </div>
                                <div class="campaign-status-item flex-grow-1 text-right">
                                    <a href="detail.html" class="btn btn-primary-2 font-weight-bold" data-toggle="modal"
                                        data-target="#modalCampaign">CHI TIẾT</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="user-testi ">


                <div class="text-center mb-4 ">
                    <div class="subheading border-primary-2">Lời nhắn gửi đến các <strong class="text-primary-2">Chiến sĩ áo trắng</strong>

                    </div>
                </div>
                <div class="swiper-container swiper-user-testi">
                    <div class="swiper-wrapper">
                        {% for item in testi %}
                        <div class="swiper-slide">
                            <div class="media user-testi__item">


                                <div class="user-testi__avatar mr-3">{{ item.name | first}}</div>
                                <div class="media-body content p-3  rounded bg-white position-relative">
                                    <p class="font-italic user-testi__content">"{{item.content}}"</p>
                                    <div class="user-testi__name text-primary-2">{{ item.name | capitalize}} <span
                                            class="text-muted"> - {{item.phone}}</span></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="user-testi__pagination d-none d-md-block">
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
             
                </div>




            </div>


        </div>

        <!-- modalCampaign -->

        <div class="modal fade modal-campaign" id="modalCampaign" tabindex="-1" role="dialog"
            aria-labelledby="modalCampaign" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">


                <div class="modal-content bg-light">

                    <div class="modal-header ">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Đồng lòng cùng Ủy Ban TW Mặt Trận Tổ Quốc
                            Việt Nam
                        </h5>
                        <button type="button" class="campaign-close" data-dismiss="modal" aria-label="Close">
                            <img alt="Navbar Toggler Close Icon" class="icon bg-white" data-inject-svg
                                src="img/icons/interface/icon-x.svg">
                        </button>
                    </div>
                    <div class="modal-body px-0 px-md-2">
                        <div class="container-fluid">

                            <div class="row">

                                <div class="col-md-7 order-2 order-md-1">
                                    <div class="pr-0 pr-lg-2">
                                        <div class="campaign-image campaign-gallery">

                                            <div class="campaign-gallery-1">
                                                <div class="embed-responsive embed-responsive-16by9 ">

                                                    <div class="embed-responsive-img">
                                                        <img class="img-fluid lazyload"
                                                            alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                                                            data-src="	https://static.mservice.io/images/s/momo-upload-api-200407105203-637218535232309001.jpeg">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="campaign-gallery-2">
                                                <div
                                                    class="embed-responsive embed-responsive-16by9  campaign-gallery-less">
                                                    <div class="embed-responsive-img">
                                                        <img class="img-fluid lazyload"
                                                            alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                                                            data-src="https://static.mservice.io/img/momo-upload-api-200401174311-637213597912717846.jpg">
                                                    </div>
                                                </div>

                                                <div
                                                    class="embed-responsive embed-responsive-16by9 campaign-gallery-more ">

                                                    <a href="https://static.mservice.io/images/s/momo-upload-api-200407105203-637218535232309001.jpeg"
                                                        data-fancybox="gallery1" data-options='{"loop":true}'
                                                        data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
                                                        class="campaign-gallery-more-btn"> Xem tất cả</a>
                                                    <div class="embed-responsive-img">
                                                        <img class="img-fluid lazyload"
                                                            alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                                                            data-src="https://static.mservice.io/img/momo-upload-api-200401174321-637213598019231342.jpg">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- //Hinh load rieng them -->
                                            <a href="https://static.mservice.io/img/momo-upload-api-200401174311-637213597912717846.jpg"
                                                data-fancybox="gallery1" data-options='{"loop":true}'
                                                data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
                                                class="hidden"> </a>

                                            <a href="https://static.mservice.io/blogscontents/momo-upload-api-200401165322-637213568025475879.jpg"
                                                data-fancybox="gallery1" data-options='{"loop":true}'
                                                data-caption="Giây phút tranh thủ chợp mắt của các bạn Sinh viên Trường Đại học Y Hà Nội"
                                                class="hidden"> </a>

                                            <a href="https://static.mservice.io/blogscontents/momo-upload-api-200402005133-637213854931769477.jpg"
                                                data-fancybox="gallery1" data-options='{"loop":true}'
                                                data-caption="Thế hệ Bác Sĩ tương lai của tổ quốc tiến lên với tinh thần “Khi tổ quốc cần!”"
                                                class="hidden"> </a>

                                        </div>

                                        <div class="campaign-sort">
                                            Toàn bộ số tiền đóng góp sẽ được chuyển đến Ủy Ban Trung Ương Mặt Trận Tổ
                                            Quốc Việt
                                            Nam
                                            và sử dụng vào việc ủng hộ các lực lượng trực tiếp tham gia chống dịch.
                                        </div>

                                        <div class="campaign-body">

                                            <div class="dona-post">
                                                <p><strong>BẠN QUYÊN GÓP BẰNG HEO VÀNG - MOMO SẼ QUY ĐỔI THÀNH TIỀN MẶT
                                                        ĐỀ ỦNG
                                                        HỘ
                                                        CÁC SV TRƯỜNG ĐH Y HÀ NỘI.</strong></p>

                                                <p>Hàng trăm SV ngành Y đã tình nguyện xông pha nơi tuyến đầu cuộc chiến
                                                    chống
                                                    Covid-19. Mỗi Heo Vàng Quyên góp sẽ tiếp thêm sức mạnh và là lời
                                                    động viên
                                                    cho
                                                    thế hệ bác sĩ tương lai.</p>

                                                <p><img alt=""
                                                        src="https://static.mservice.io/blogscontents/momo-upload-api-200404181250-637216207700133180.jpg">
                                                </p>

                                                <p class="">Trong những ngày dịch bệnh diễn biến phức tạo, Thủ tướng nói
                                                    và nhấn
                                                    mạnh, phải bảo toàn đội ngũ y tế để có sức chiến đấu lâu dài trong
                                                    mùa
                                                    dịch.&nbsp;</p>

                                                <p>Cũng trong chính thời khắc lịch sử này, cả nước đang chứng kiến việc
                                                    hàng
                                                    trăm
                                                    sinh viên Trường Đại học Y Hà Nội hăng hái đăng ký tham gia ngay từ
                                                    khi có
                                                    phát
                                                    động. &nbsp;</p>

                                                <p><img alt=""
                                                        src="https://static.mservice.io/blogscontents/momo-upload-api-200402005133-637213854931769477.jpg">
                                                </p>

                                                <p style="text-align: center;"><em>Thế hệ Bác Sĩ tương lai của tổ quốc
                                                        tiến lên
                                                        với
                                                        tinh thần “Khi tổ quốc cần!”</em></p>

                                                <p>Thế hệ y bác sĩ tương lai này đã tiến lên với tinh thần “Khi Tổ quốc
                                                    cần”.
                                                    Hơn
                                                    bao giờ hết đây là lúc thực hiện lời thề Hippocrates cao cả và thể
                                                    hiện
                                                    trách
                                                    nhiệm của mình với cộng đồng, với xã hội. Khi xã hội cần, đất nước
                                                    cần, các
                                                    thầy
                                                    cô cần, ngành y tế cần… các bạn sinh viên năm cuối - những sinh viên
                                                    ưu tú
                                                    của
                                                    trường đã sẵn sàng cho cuộc chiến đầy cam go ở phía trước.&nbsp;</p>

                                                <p><img alt=""
                                                        src="https://static.mservice.io/blogscontents/momo-upload-api-200401165322-637213568025475879.jpg">
                                                </p>

                                                <p style="text-align: center;"><em>Giây phút tranh thủ chợp mắt của các
                                                        bạn Sinh
                                                        viên Trường Đại học Y Hà Nội</em></p>

                                                <p><img alt=""
                                                        src="https://static.mservice.io/blogscontents/momo-upload-api-200401165343-637213568239816463.jpg">
                                                </p>

                                                <p style="text-align: center;"><em>Ngay chính thời khắc này, các bạn
                                                        Sinh viên
                                                        đã
                                                        thực hiện lời thề Hippocrates cao cả và thể hiện trách nhiệm của
                                                        mình
                                                        với
                                                        cộng đồng, với xã hội</em></p>

                                                <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
                                                    <p><strong>VỀ “ĐIỀU NHỎ BÉ VĨ ĐẠI"&nbsp;</strong></p>

                                                    <p>Những tháng qua, hàng chục ngàn Y Bác sĩ, điều dưỡng, sinh viên
                                                        tình
                                                        nguyện
                                                        các Trường ĐH Y trên cả nước đang ngày đêm trực chiến nơi tuyến
                                                        đầu
                                                        chiến
                                                        đấu chống lại đại dịch Covid-19. Mồ hôi, nước mắt đã rơi, vô vàn
                                                        hy sinh
                                                        thầm lặng không thể đo đếm của những <strong>Chiến sĩ áo
                                                            trắng!</strong>
                                                    </p>

                                                    <p>“Điều nhỏ bé vĩ đại” của Ví điện tử MoMo phối hợp cùng UB TW Mặt
                                                        trận tổ
                                                        quốc, Trường Đại học Y Hà Nội ra đời với mong ước góp thêm ngọn
                                                        lửa,
                                                        tiếp
                                                        thêm sức mạnh, ủng hộ và động viên cho lực lượng tinh nhuệ tiên
                                                        phong
                                                        trong
                                                        cuộc chiến chống Covid-19 vững tâm vượt qua đại dịch. Toàn bộ số
                                                        tiền
                                                        đóng
                                                        góp sẽ được sử dụng vào việc ủng hộ các lực lượng trực tiếp tham
                                                        gia
                                                        chống
                                                        dịch.&nbsp;</p>

                                                    <p>Cùng MoMo chọn <strong>Sống khoẻ - Sống tốt – Sống thông
                                                            minh</strong>,
                                                        để
                                                        mỗi hành động nhỏ bé của bạn trở thành nguồn động lực, sự đóng
                                                        góp lớn
                                                        lao
                                                        về cả vật chất lẫn tinh thần cho các Chiến sĩ áo trắng ở đầu
                                                        chiến
                                                        tuyến!
                                                    </p>

                                                    <p>Xem thêm tại: <a class="external"
                                                            href="momo://?refId=browser|https://momo.vn/dieunhobevidai">https://momo.vn/dieunhobevidai&nbsp;</a>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 order-1 order-md-2">

                                    <div class="widget-donation">

                                        <div class="row no-gutters align-items-end">
                                            <div class="col">
                                                <div class="campaign-money">
                                                    <strong class="value">153.807.469đ </strong>
                                                    được quyên góp
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="campaign-money pl-2">
                                                    300.000.000đ
                                                </div>
                                            </div>
                                        </div>

                                        <div class="campaign-progress">

                                            <div class="progress" style="height:8px;">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>

                                        </div>

                                        <div class="campaign-status">
                                            <div class="campaign-status-item">

                                                <div class="campaign-status-label">
                                                    Người đã chung tay
                                                </div>

                                                <div class="campaign-status-value">
                                                    61.808
                                                </div>

                                            </div>
                                            <div class="campaign-status-item">
                                                <div class="campaign-status-label">
                                                    Thời hạn còn
                                                </div>

                                                <div class="campaign-status-value">
                                                    26 ngày
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row align-items-end no-gutters mt-4">
                                            <div class="col-auto d-none ">
                                                <div class=" d-none d-lg-block">
                                                    <img src="	https://static.mservice.io/images/s/momo-upload-api-200331152848-637212653280019313.jpeg"
                                                        class="img-fluid d-block" width="100" alt="">
                                                    <div class=" mt-2 text-small"> Quét mã để Quyên góp </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="campaign-cta ">
                                                    <div class="">
                                                        <a href="" class="btn btn-block btn-primary-2 font-weight-bold"
                                                            data-toggle="modal" data-target="#modal-huongdan">HƯỚNG DẪN
                                                            QUYÊN
                                                            GÓP</a>
                                                    </div>

                                                    <div class="mt-2 d-none d-lg-block">


                                                        <button role="button"
                                                            class="btn btn-block btn-outline-dark font-weight-bold "
                                                            data-container="body" data-toggle="popover"
                                                            data-placement="bottom" data-html="true" tabindex="0"
                                                            data-content='<img src="https://static.mservice.io/img/momo-upload-api-200403134853-637215185338434267.png" width="200" alt="">'>
                                                            <img src="img/qr-code.svg" width="20" alt="">
                                                            QUÉT MÃ QR CODE
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>






                                        <div class="campaign-people mt-4">
                                            <div class="campaign-people-title text-primary-2">
                                                Những nhà hảo tâm hàng đầu
                                            </div>

                                            <div class="campaign-people-list">

                                                <div class="campaign-people-item">
                                                    <div class="campaign-people-avatar is-image">
                                                        <img src="img/v1.svg" alt="">
                                                    </div>

                                                    <div class="campaign-people-info">
                                                        <div class="campaign-people-name">
                                                            Nguyễn Văn D
                                                        </div>
                                                        <div class="campaign-people-phone">
                                                            *******434
                                                        </div>
                                                    </div>

                                                    <div class="campaign-people-money">
                                                        2444<img src="img/heo-icon.svg" class="icon-heovang" alt="">
                                                    </div>
                                                </div>

                                                <div class="campaign-people-item">
                                                    <div class="campaign-people-avatar is-image">
                                                        <img src="img/v2.svg" alt="">
                                                    </div>

                                                    <div class="campaign-people-info">
                                                        <div class="campaign-people-name">
                                                            Nguyễn Văn D
                                                        </div>
                                                        <div class="campaign-people-phone">
                                                            *******434
                                                        </div>
                                                    </div>

                                                    <div class="campaign-people-money">
                                                        2004<img src="img/heo-icon.svg" class="icon-heovang" alt="">
                                                    </div>
                                                </div>

                                                <div class="campaign-people-item">
                                                    <div class="campaign-people-avatar is-image">
                                                        <img src="img/v3.svg" alt="">
                                                    </div>

                                                    <div class="campaign-people-info">
                                                        <div class="campaign-people-name">
                                                            Nguyễn Văn D
                                                        </div>
                                                        <div class="campaign-people-phone">
                                                            *******434
                                                        </div>
                                                    </div>

                                                    <div class="campaign-people-money">
                                                        1244<img src="img/heo-icon.svg" class="icon-heovang" alt="">
                                                    </div>
                                                </div>
                                                {% for item in range(0,3) %}
                                                <div class="campaign-people-item">
                                                    <div class="campaign-people-avatar">
                                                        ND
                                                    </div>

                                                    <div class="campaign-people-info">
                                                        <div class="campaign-people-name">
                                                            Nguyễn Văn D
                                                        </div>
                                                        <div class="campaign-people-phone">
                                                            *******434
                                                        </div>
                                                    </div>

                                                    <div class="campaign-people-money">
                                                        5000đ
                                                    </div>
                                                </div>

                                                {% endfor %}


                                            </div>

                                            <div class="campaign-people-more mt-3 text-center">
                                                <a href="" class="btn btn-outline-primary-2 btn-sm font-weight-bold"
                                                    data-toggle="modal" data-target="#modal-donation-list">Xem
                                                    tất
                                                    cả</a>
                                            </div>



                                        </div>



                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer d-none">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

    </section>



</div>