<div class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-lacxi" >
        <div class="container">
            <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="index.html">

                <img alt="MoMo" src="https://static.mservice.io/jk/accmm/rs/assets/img/momo-white.png" width="40" style="">
            </a>
            <div class="d-flex align-items-center order-lg-3">

                <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg
                        src="img/icons/interface/icon-menu.svg">
                    <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg
                        src="img/icons/interface/icon-x.svg">
                </button>
            </div>
            <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-lacxi" id="navigation-menu">
                <ul class="navbar-nav my-3 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-item" href="#dieunhobevidai"
                            role="button" data-smooth-scroll>Điều nhỏ bé vĩ đại</a>
                    </li>

                    <li class="nav-item">
                        <a  class="nav-link nav-item" href="#songkhoe"
                            role="button" data-smooth-scroll>Sống khỏe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item" href="#songtot"
                            role="button" data-smooth-scroll>Sống tốt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item" href="#songthongminh"
                            role="button" data-smooth-scroll>Sống thông minh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item" href="#tintuc"
                            role="button" data-smooth-scroll>Tin tức</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>