<div class="bg-gradient-purple text-white o-hidden position-relative  d-none d-md-block" data-overlay>


    <section class=" section-hero section-nam">
        <div class="container">
            <div data-aos="zoom-in-up" data-aos-delay="0" data-aos-duration="1000">
                <img src="img/banner-desktop-min.png" class="img-fluid d-block mx-auto" alt="">
            </div>
        </div>

        <div id="particles-js">
        </div>



        <div class="text-center hero-btn-absolute">
            <a href="#dieunhobevidai"
                class="text-center position-relative mb-0 mt-3 d-inline-block hero-more btn btn-warning rounded-pill btn-dropshadow btn-pulse"
                data-smooth-scroll>
                Tìm hiểu thêm
            </a>
        </div>


        <!-- <div class="divider divider-bottom bg-white"></div> -->
    </section>

</div>

<div class="banner-mobile d-block d-md-none">
    <a href="#dieunhobevidai" data-smooth-scroll class="">
        <img src="	https://static.mservice.io/images/s/momo-upload-api-200403135116-637215186761299235.png"
            class="img-fluid d-block mx-auto" alt="">

    </a>
</div>

<!-- <div>

    <div class="container mt-4 mt-lg-0">
        <div class="row">
            <div class="col-6 col-lg-3 mb-3 mb-lg-0" data-aos="fade-up" data-aos-delay="250" data-aos-duration="700">
                <img src="img/dieu/num1.png" class="img-fluid d-block mx-auto" alt="">
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-lg-0" data-aos="fade-up" data-aos-delay="500" data-aos-duration="700">
                <img src="img/dieu/num2.png" class="img-fluid d-block mx-auto" alt="">
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="750" data-aos-duration="700">
                <img src="img/dieu/num3.png" class="img-fluid d-block mx-auto" alt="">
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="700">
                <img src="img/dieu/num4.png" class="img-fluid d-block mx-auto" alt="">
            </div>

        </div>
    </div>
</div> -->