<div class="bg-gradient-purple text-white o-hidden position-relative  d-none d-md-block" data-overlay>


    <section class=" section-hero section-nam">
        <div class="container">
            <div class="row align-items-center justify-content-center no-gutters">
                <div class="col-md-4 col-lg-5 col-xl-5 ">
                    <div class="hero-title" data-aos="zoom-in-up" data-aos-delay="250" data-aos-duration="1000">
                        <img src="img/hero-title.png" width="320" class="img-fluid d-block mx-auto" alt="">
                    </div>

                    <div class="hero-title2 mt-2 mt-lg-4" data-aos="fade-up" data-aos-delay="500"
                        data-aos-duration="1500">
                        <img src="img/hero-title-2.png" width="320" class="img-fluid d-block mx-auto" alt="">
                    </div>
                </div>

                <div class="col-md-8 col-lg-7 col-xl-7 mt-3 mt-lg-0 ">
                    <div class="hero-img" data-aos="fade-up" data-aos-delay="1000" data-aos-delay="1000">
                        <img class="img-fluid d-block mx-auto" width="" src="img/hero-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div id="particles-js">
        </div>

        <div class="container charity-stat-container d-none ">
            <div class="row no-gutters justify-content-center">
                <div class="col-6 col-lg-auto">
                    <div class="charity-stat">
                        <div class="charity-stat-num">
                            1,05 triệu
                        </div>
                        <div class="charity-stat-label">
                            người tham gia đi bộ
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-auto">
                    <div class="charity-stat">
                        <div class="charity-stat-num">
                            4 triệu
                        </div>
                        <div class="charity-stat-label">
                            vòng Trái đất
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-auto">
                    <div class="charity-stat">
                        <div class="charity-stat-num">
                            1,2 triệu
                        </div>
                        <div class="charity-stat-label">
                            người tham gia quyên góp
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-auto">
                    <div class="charity-stat">
                        <div class="charity-stat-num">
                            5 tỷ
                        </div>
                        <div class="charity-stat-label">
                            đã đến tay các "chiến sĩ áo trắng"
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#dieunhobevidai" class="text-center position-relative mb-0 mt-3 d-inline-block hero-more btn btn-warning rounded-pill btn-sm btn-dropshadow btn-pulse" data-smooth-scroll>
                Tìm hiểu thêm
            </a>
            <div class="mouse-wrapper">
                <div class="mouse">
                    <div class="mouse-scroll"></div>
                </div>
            </div>
        </div>


        <!-- <div class="divider divider-bottom bg-white"></div> -->
    </section>

</div>

<div class="banner-mobile d-block d-md-none">
    <a href="#dieunhobevidai" data-smooth-scroll class="">
        <img src="https://static.mservice.io/images/s/momo-upload-api-200402173021-637214454218675901.png" class="img-fluid d-block mx-auto" alt="">

    </a>
</div>

<!-- <div>

    <div class="container mt-4 mt-lg-0">
        <div class="row">
            <div class="col-6 col-lg-3 mb-3 mb-lg-0" data-aos="fade-up" data-aos-delay="250" data-aos-duration="700">
                <img src="img/dieu/num1.png" class="img-fluid d-block mx-auto" alt="">
            </div>
            <div class="col-6 col-lg-3 mb-3 mb-lg-0" data-aos="fade-up" data-aos-delay="500" data-aos-duration="700">
                <img src="img/dieu/num2.png" class="img-fluid d-block mx-auto" alt="">
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="750" data-aos-duration="700">
                <img src="img/dieu/num3.png" class="img-fluid d-block mx-auto" alt="">
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="700">
                <img src="img/dieu/num4.png" class="img-fluid d-block mx-auto" alt="">
            </div>

        </div>
    </div>
</div> -->