<div class="modal fade modal-huongdan" id="modal-huongdan" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center border-0">
        <div class="w-100 pt-4">
          <h5 class="h4">Hướng dẫn sống khỏe</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/icons/interface/icon-x.svg" alt="Icon">
          </span>
        </button>
      </div>
      <div class="modal-body pb-3 px-3 pt-0">


        <div class="row manual-device-swiper-container">
          <div class="col-12 col-md-6 order-2 order-md-1">

            <div class="manual-device d-block ml-lg-auto mr-lg-5" id="hd-sub-img-53138152" childId="53138152">
              <div class="manual-device-stock ">

              </div>

              <div class="manual-device-slide">
                <div class="swiper-container manual-device-swiper" id="hd-sub-swp-53138152">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                        class="img-fluid lazyload" alt="T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng V&#xED; MoMo Ví MoMo">
                    </div>
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                        class="img-fluid lazyload" alt="Nh&#x1EAD;p s&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i Ví MoMo">
                    </div>
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                        class="img-fluid lazyload" alt="Nh&#x1EAD;p m&#xE3; x&#xE1;c th&#x1EF1;c  Ví MoMo">
                    </div>
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                        class="img-fluid lazyload"
                        alt="T&#x1EA1;o m&#x1EAD;t kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p  Ví MoMo">
                    </div>
                    <div class="swiper-slide">
                      <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                        class="img-fluid lazyload" alt="Nh&#x1EAD;p th&#xF4;ng tin Ví MoMo">
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>


          <div class="col-12 col-md-6 order-1 order-md-2">


            <ol class="process list-unstyled manual-process " childId="53138152" id="hd-sub-ctn-53138152">

              <li class="process_item  active">
                <div class="process__number">
                  <span>1</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">T&#x1EA3;i &#x1EE9;ng
                    d&#x1EE5;ng V&#xED; MoMo</h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Tải ứng dụng miễn
                        ph&iacute; bằng c&aacute;ch t&igrave;m
                        kiếm&nbsp;từ kh&oacute;a &ldquo;vi
                        momo&rdquo;&nbsp;tr&ecirc;n <a
                          href="https://apps.apple.com/vn/app/id918751511?utm_campaign=momo-1dong&amp;utm_medium=download&amp;utm_source=website-momo">App
                          Store</a> hoặc <a
                          href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong">Google
                          Play Store</a>.</span></p>

                  </div>
                </div>
              </li>
              <li class="process_item  ">
                <div class="process__number">
                  <span>2</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">Nh&#x1EAD;p s&#x1ED1;
                    &#x111;i&#x1EC7;n tho&#x1EA1;i</h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Mở ứng dụng
                        v&agrave; nhập số điện thoại bạn muốn đăng
                        k&yacute; V&iacute; MoMo.</span></p>

                    <p><span style="font-size:14px;"><em>Lưu
                          &yacute;:&nbsp;</em></span><em>Số
                        điện&nbsp;thoại đăng k&iacute; V&iacute;
                        phải tr&ugrave;ng với số điện thoại đăng
                        k&iacute; Internet Banking của ng&acirc;n
                        h&agrave;ng bạn muốn li&ecirc;n kết.</em>
                    </p>

                  </div>
                </div>
              </li>
              <li class="process_item  ">
                <div class="process__number">
                  <span>3</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">Nh&#x1EAD;p m&#xE3;
                    x&#xE1;c th&#x1EF1;c </h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Một tin nhắn chứa
                        m&atilde; x&aacute;c thực sẽ&nbsp;gửi trực
                        tiếp đến số điện thoại của bạn.</span></p>

                    <p><span style="font-size:14px;">Vui l&ograve;ng
                        kiểm tra v&agrave; nhập ch&iacute;nh
                        x&aacute;c m&atilde; x&aacute;c thực
                        v&agrave;o &ocirc; &quot;Nhập m&atilde;
                        x&aacute;c thực&quot; rồi nhấn &quot;Tiếp
                        tục&quot;.</span></p>

                  </div>
                </div>
              </li>
              <li class="process_item  ">
                <div class="process__number">
                  <span>4</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">T&#x1EA1;o m&#x1EAD;t
                    kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p </h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Thiết lập mật khẩu
                        để bảo vệ t&agrave;i khoản V&iacute; MoMo
                        của bạn gồm 6 chữ số v&agrave; mật khẩu ở 2
                        &ocirc; phải ho&agrave;n to&agrave;n giống
                        nhau.<br />
                        <br />
                        Sau đ&oacute; bấm &quot;X&aacute;c
                        nhận&quot;.</span></p>

                  </div>
                </div>
              </li>
              <li class="process_item  ">
                <div class="process__number">
                  <span>5</span>
                </div>
                <div class="process__body">

                  <h4 class="process__body-title">Nh&#x1EAD;p th&#xF4;ng
                    tin</h4>
                  <div class="process__body-content">
                    <p><span style="font-size:14px;">Sau khi tạo mật
                        khẩu đăng nhập th&agrave;nh c&ocirc;ng, bạn
                        nhập th&ocirc;ng tin c&aacute; nh&acirc;n
                        theo y&ecirc;u cầu v&agrave; nhấn
                        &quot;X&aacute;c nhận&quot;&nbsp;để
                        ho&agrave;n tất đăng k&yacute;.</span></p>

                  </div>
                </div>
              </li>
            </ol>



          </div>
        </div>


      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="modal-donation-message" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Danh sách lời nhắn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-md-3 px-lg-4 py-0 ">



        <div class="campaign-people-list">


          <div class="modal-list-message">
                {% for item in range(0,10) %}
                <div class="swiper-slide">
                    <div class="message-item">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="campaign-people-avatar is-pink">
                                    TV
                                </div>
                            </div>
                            <div class="col">
                                <div class="message-item-name ">
                                    Trương Thị Việt
                                </div>
                            </div>
                        </div>


                        <div class="message-item-content">
                            <div class="message-item-txt">
                                Tiêu diệt Covid-19 zo zo zo
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
      
        </div>


        </div>


      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal-donation-list" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Danh sách đóng góp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-md-3 px-lg-4 py-0 ">



        <div class="campaign-people-list ">

          <div class="campaign-people-item">
            <div class="campaign-people-avatar is-image">
              <img src="img/v1.svg" width="28" alt="">
            </div>

            <div class="campaign-people-info">
              <div class="campaign-people-name">
                Nguyễn Văn D
              </div>
              <div class="campaign-people-phone">
                *******434
              </div>
            </div>

            <div class="campaign-people-money">
              2444 <img src="img/heo-icon.svg" class="icon-heovang" width="24" alt="">
            </div>
          </div>

          <div class="campaign-people-item">
            <div class="campaign-people-avatar is-image">
              <img src="img/v2.svg" width="28" alt="">
            </div>

            <div class="campaign-people-info">
              <div class="campaign-people-name">
                Nguyễn Văn D
              </div>
              <div class="campaign-people-phone">
                *******434
              </div>
            </div>

            <div class="campaign-people-money">
              2004 <img src="img/heo-icon.svg" class="icon-heovang" width="24" alt="">
            </div>
          </div>

          <div class="campaign-people-item">
            <div class="campaign-people-avatar is-image">
              <img src="img/v3.svg" width="28" alt="">
            </div>

            <div class="campaign-people-info">
              <div class="campaign-people-name">
                Nguyễn Văn D
              </div>
              <div class="campaign-people-phone">
                *******434
              </div>
            </div>

            <div class="campaign-people-money">
              1244 <img src="img/heo-icon.svg" class="icon-heovang" width="24" alt="">
            </div>
          </div>
          {% for item in range(0,20) %}
          <div class="campaign-people-item">
            <div class="campaign-people-avatar">
              4
            </div>

            <div class="campaign-people-info">
              <div class="campaign-people-name">
                Nguyễn Văn D
              </div>
              <div class="campaign-people-phone">
                *******434
              </div>
            </div>

            <div class="campaign-people-money">
              5000đ
            </div>
          </div>

          {% endfor %}


        </div>


      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>




<div class="modal htu-modal modal-fullscreen fade " id="htu-modal" tabindex="-1" role="dialog"
  aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog ">


    <div class="modal-content">

      <div class="htu-modal-header">
        <div class="htu-modal-close " data-dismiss="modal" id="dwd">

          <svg id="svg-angle-left" style="height: 16px; fill: #007bff" viewBox="0 0 18.66 32">
            <title>angle-left</title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="Capa_1" data-name="Capa 1">
                <path
                  d="M5.74,16,18.34,3.4a1,1,0,0,0,.32-.74,1,1,0,0,0-.32-.74L16.74.32a1,1,0,0,0-1.48,0L.32,15.26a1,1,0,0,0,0,1.48L15.26,31.68a1,1,0,0,0,1.48,0l1.6-1.6a1,1,0,0,0,0-1.48Z">
                </path>
              </g>
            </g>
          </svg>

          Quay lại
        </div>

        <div class="htu-modal-title text-truncate">
          Hướng dẫn
        </div>

        <div class="htu-modal-space">

        </div>

      </div>

      <div class="htu-modal-content">


        <div class="swiper-container htu-slider">
          <div class="swiper-wrapper">

            <div class="swiper-slide">

              <div class="htu-slider-content">
                <div class="ht-mockup">


                  <div class="htu-slider-mockup">
                    <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                      class="img-fluid d-block mx-auto swiper-lazy" alt="">

                  </div>

                  <div class="htu-slider-txt">
                    <h3 class="htu-slider-title"> <strong>Bước 1/6 : </strong> Tải ứng dụng Ví MoMo
                    </h3>
                    <div class="htu-slider-body">
                      Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store
                      hoặc Google Play Store.

                      <br>
                      Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store
                      hoặc Google Play Store.


                      <br>
                      Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store
                      hoặc Google Play Store.
                    </div>

                    <div class="mt-3  font-italic">

                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div class="swiper-slide">

              <div class="htu-slider-content">
                <div class="ht-mockup">
                  <div class="htu-slider-mockup">
                    <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                      class="img-fluid d-block mx-auto swiper-lazy" alt="">

                  </div>

                  <div class="htu-slider-txt">
                    <h3 class="htu-slider-title"> <strong>Bước 2/6 : </strong> Nhập số điện thoại
                    </h3>
                    <div class="htu-slider-body">
                      Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo.
                    </div>

                    <div class="mt-3  font-italic">
                      Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí
                      Internet Banking của ngân hàng bạn muốn liên kết.
                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div class="swiper-slide">

              <div class="htu-slider-content">
                <div class="ht-mockup">
                  <div class="htu-slider-mockup">
                    <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                      class="img-fluid d-block mx-auto swiper-lazy" alt="">

                  </div>

                  <div class="htu-slider-txt">
                    <h3 class="htu-slider-title"> <strong>Bước 3/6 : </strong> Nhập mã xác thực
                    </h3>
                    <div class="htu-slider-body">
                      Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của bạn.
                      &lt;/br&gt; Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô &quot;Nhập
                      mã xác thực&quot; rồi nhấn &quot;Tiếp tục&quot;.
                    </div>

                    <div class="mt-3  font-italic">
                      .
                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div class="swiper-slide">

              <div class="htu-slider-content">
                <div class="ht-mockup">
                  <div class="htu-slider-mockup">
                    <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                      class="img-fluid d-block mx-auto swiper-lazy" alt="">

                  </div>

                  <div class="htu-slider-txt">
                    <h3 class="htu-slider-title"> <strong>Bước 4/6 : </strong> Tạo mật khẩu đăng
                      nhập </h3>
                    <div class="htu-slider-body">
                      Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và mật
                      khẩu ở 2 ô phải hoàn toàn giống nhau. &lt;/br&gt;
                      Sau đó bấm &quot;Xác nhận&quot;.
                    </div>

                    <div class="mt-3  font-italic">

                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div class="swiper-slide">

              <div class="htu-slider-content">
                <div class="ht-mockup">
                  <div class="htu-slider-mockup">
                    <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                      class="img-fluid d-block mx-auto swiper-lazy" alt="">

                  </div>

                  <div class="htu-slider-txt">
                    <h3 class="htu-slider-title"> <strong>Bước 5/6 : </strong> Nhập thông tin </h3>
                    <div class="htu-slider-body">
                      Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân theo
                      yêu cầu và nhấn &quot;Xác nhận&quot; để hoàn tất đăng ký.
                    </div>

                    <div class="mt-3  font-italic">

                    </div>

                  </div>

                </div>
              </div>

            </div>


          </div>
          <!-- Add Pagination -->
          <!-- <div class="swiper-pagination"></div> -->

          <!-- Add Arrows -->


          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>

        </div>


      </div>


    </div>
  </div>
</div>