<section class="bg-light o-hidden" id="songthongminh">
  <div class="container">
    <div class="row section-title mb-4 justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">


        <div class="text-center">

          <h2 class="font-serif mb-3 h1 text-primary-2 " data-aos="fade-in" data-aos-offset="100"> Sống thông minh</h2>
          <div class="subheading-container mb-3" data-aos="fade-up" data-aos-delay="250" data-aos-offset="100"
            data-aos-duration="800">
            <div class="subheading border-primary-2">Cùng <strong class="text-primary-2">10 điều nhỏ bé</strong> với
              MoMo

            </div>

          </div>

        </div>

        <div class="slide-dash2 bg-primary-2 d-block mx-auto "></div>
      </div>
    </div>
    <div class="">

      <div class="swiper-container swiper-tab-tinhnang">
        <ul class="swiper-wrapper nav " id="myTab" role="tablist">
      
          <li class="swiper-slide">
            <a class=" food-tab-link active" id="home-tab-1" data-toggle="tab" href="#why-1" role="tab"
              aria-controls="home" aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-01.svg"
                    alt="Nạp, chuyển, nhận tiền online">
                </div>
                <div class="food-tab-name">
                  Nạp, chuyển, <br />nhận tiền online
                </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-2" data-toggle="tab" href="#why-2" role="tab" aria-controls="home"
              aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-02.svg"
                    alt="Thanh toán hoá đơn">
                </div>
                <div class="food-tab-name">
                  Thanh toán <br />hoá đơn
                </div>
              </div>


            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-3" data-toggle="tab" href="#why-3" role="tab" aria-controls="home"
              aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-03.svg"
                    alt="Mua sắm trực tuyến">
                </div>
                <div class="food-tab-name">
                  Mua sắm <br />trực tuyến
                </div>
              </div>

            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-4" data-toggle="tab" href="#why-4" role="tab" aria-controls="home"
              aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-04.svg"
                    alt="Thanh toán tại quầy">
                </div>
                <div class="food-tab-name">
                  Thanh toán <br />tại quầy
                </div>
              </div>

            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-4" data-toggle="tab" href="#why-5" role="tab" aria-controls="home"
              aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-04.svg"
                    alt="Thanh toán tại quầy">
                </div>
                <div class="food-tab-name">
                  Thanh toán <br />tại quầy
                </div>
              </div>

            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-5" data-toggle="tab" href="#why-5" role="tab" aria-controls="home"
              aria-selected="true">


              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-05.svg" alt="Học tập tại nhà">
                </div>
                <div class="food-tab-name">
                  Học tập <br />tại nhà
                </div>
              </div>

            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-6" data-toggle="tab" href="#why-6" role="tab" aria-controls="home"
              aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-06.svg"
                    alt="Đặt món trực tuyến">
                </div>
                <div class="food-tab-name">
                  Đặt món <br />trực tuyến
                </div>
              </div>

            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-7" data-toggle="tab" href="#why-7" role="tab" aria-controls="home"
              aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-07.svg"
                    alt="Khám sức khỏe tại nhà">
                </div>
                <div class="food-tab-name">
                  Khám sức khỏe <br />tại nhà
                </div>
              </div>

            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-8" data-toggle="tab" href="#why-8" role="tab" aria-controls="home"
              aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-08.svg" alt="Khai báo y tế">
                </div>
                <div class="food-tab-name">
                  Khai báo <br />y tế
                </div>
              </div>


            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-9" data-toggle="tab" href="#why-9" role="tab" aria-controls="home"
              aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-09.svg"
                    alt="Nạp tiền điện thoại, mua mã data">
                </div>
                <div class="food-tab-name">
                  Nạp tiền điện thoại <br/>mua mã data
                </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a class=" food-tab-link " id="home-tab-10" data-toggle="tab" href="#why-10" role="tab" aria-controls="home"
              aria-selected="true">

              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-10.svg"
                    alt="Giải trí tại nhà">
                </div>
                <div class="food-tab-name">
                  Giải trí <br />tại nhà
                </div>
              </div>

            </a>
          </li>

        </ul>

      </div>


      <div class="tab-content tinhnang-tab-content shadow-sm  " id="myTabContent">

        <div class="tab-pane fade  show active" id="why-1" role="tabpanel" aria-labelledby="home-tab">

          <div class="card border-0 bg-transparent ">
         
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="hashtag-momo">
                            <span>Tôi_yêu_MoMo</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img src="img/chiase.svg" width="80" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                    </div>




                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>

                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, 
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>
             


                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade  " id="why-2" role="tabpanel" aria-labelledby="home-tab">

          <div class="card border-0 bg-transparent ">
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="hashtag-momo">
                            <span>Tôi_sống_thông_minhh</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img src="img/chiase.svg" width="80" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                    </div>




                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, bạn có thể
                        Chuyển/Nhận tiền nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>


                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade  " id="why-3" role="tabpanel" aria-labelledby="home-tab">

          <div class="card border-0 bg-transparent ">
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="hashtag-momo">
                            <span>Tôi_yêu_MoMo</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img src="img/chiase.svg" width="80" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                    </div>




                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, bạn có thể
                        Chuyển/Nhận tiền nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>



                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>


          </div>

        </div>

        <div class="tab-pane fade  " id="why-4" role="tabpanel" aria-labelledby="home-tab">


          <div class="card border-0 bg-transparent ">
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="hashtag-momo">
                            <span>Tôi_yêu_MoMo</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img src="img/chiase.svg" width="80" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                    </div>




                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, bạn có thể
                        Chuyển/Nhận tiền nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>


                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade  " id="why-5" role="tabpanel" aria-labelledby="home-tab">


          <div class="card border-0 bg-transparent ">
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha" width="" alt="">
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img src="img/chiase.svg" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                    </div>




                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, bạn có thể
                        Chuyển/Nhận tiền nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>


                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade  " id="why-6" role="tabpanel" aria-labelledby="home-tab">

          <div class="card border-0 bg-transparent ">
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha" width="" alt="">
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img src="img/chiase.svg" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                    </div>




                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, bạn có thể
                        Chuyển/Nhận tiền nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>



                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade  " id="why-7" role="tabpanel" aria-labelledby="home-tab">



          <div class="card border-0 bg-transparent ">
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="mb-3">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                        class="img-fluid img-toionha" width="" alt="">
                    </div>

                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, bạn có thể
                        Chuyển/Nhận tiền nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>
                    <div>
                      <a href="" class="btn btn-primary btn-sm rounded-pill">Chia sẻ</a>
                    </div>

                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade  " id="why-8" role="tabpanel" aria-labelledby="home-tab">

          <div class="card border-0 bg-transparent ">
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha" width="" alt="">
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img src="img/chiase.svg" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                    </div>




                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, bạn có thể
                        Chuyển/Nhận tiền nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>


                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade  " id="why-9" role="tabpanel" aria-labelledby="home-tab">

          <div class="card border-0 bg-transparent ">
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha" width="" alt="">
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img src="img/chiase.svg" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                    </div>




                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, bạn có thể
                        Chuyển/Nhận tiền nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>



                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade  " id="why-10" role="tabpanel" aria-labelledby="home-tab">

          <div class="card border-0 bg-transparent ">
            <div class="card-body p-0">
              <div class="row  justify-content-between ">


                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">

                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha" width="" alt="">
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img src="img/chiase.svg" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                    </div>




                    <h5 class=" mt-2 mt-md-0">Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm nạp tiền trên toàn quốc, bạn có thể
                        Chuyển/Nhận tiền nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm Covid-19.
                      </p>
  
                    </div>

                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-4 mb-md-0 " data-aos="fade-left">
                  <img src="img/tinhnang1.png" alt="Screenshot" class="img-fluid rounded border">
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>
</section>