.bg-gradient-conference {
  background: linear-gradient(to top, #2E126E, #5F1AAB);
  // background-image: url("../img/bg-purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.conference--wrapper {
  font-size: 16px;
}

.hero__conference {
  padding: 120px 0 100px;
  &:after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-bottom: 2.7vw;
    background-image: url(../img/curve.svg);
    background-position-x: center;
    background-size: 110vw;
  }

  @include media-breakpoint-down(sm){
    padding: 50px 0 30px;
  }

}

.img-illus{
  img{
    max-width: 70%;
  }
}

.hero__heading{

  @include media-breakpoint-down(sm){
    width: 250px;
    margin: 0 auto;
    img{
      
    }
  }

}

.hero__message{
  padding-top: 60px;
  .text{
    font-size: 14px;
    color: rgba(255,255,255,0.8)
  }


  @include media-breakpoint-down(sm){
    padding-top: 20px;
   .text{
     font-size: 13px;

   }
  }
}

.hero__mainKV{
  @include media-breakpoint-down(sm){
    width: 250px;
    margin: 0 auto;
    img{
      
    }
  }
}

.conference__stat--quote {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
}

.conference__stat {
  .charity-stat {
    margin: 0;
    text-align: left;
    padding-left: 15px;
  }

  .charity-stat-num {
    font-size: 20px;
    margin-bottom: 0;
  }

  .charity-stat-label {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.charity-group {
  display: flex;
  flex-flow: row nowrap;
  // align-items: center;


  @include media-breakpoint-down(sm){
    margin-bottom: 10px;
    flex-flow: row wrap;
    .charity-icon{
      flex: 0 0 100%;
      text-align: center;
    }
    .charity-stat{
      flex: 0 0 100%;
      text-align: center;
      padding-left: 0;
      margin-top: 10px;
    }
  }
}

.charity-icon {
  opacity: 1;
  padding-top: 3px;
  color: $momo-1;
  svg.feather {
    width: 40px;
    height: 40px;
    fill: lighten($momo-1, 45%);
  }
}

.conference--title {
  text-align: center;
}

.conference--about {
  .about--label {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  blockquote {
    padding: 8px 20px;
    margin: 8px 0;
    font-size: 16px;
    border-left: 3px solid #ff0763;
    font-style: italic;
  }
}

.conference--about {
  position: relative;
  // padding-top: 100px;
  // padding-bottom: 60px;
}

.conference--about .section-icons {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.section-icons{
  pointer-events: none;
  opacity: 0.5;
}

.conference--about .icon-one {
  position: absolute;
  left: 5%;
  top: 15%;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
}

.conference--about .icon-two {
  position: absolute;
  right: 5%;
  top: 30%;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
}

.conference--about .icon-three {
  position: absolute;
  right: 5%;
  bottom: 10%;
  width: 45px;
  height: 45px;
  display: inline-block;
  background-repeat: no-repeat;
}

.conference--about .icon-one {
  animation-name: rotateme;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.conference--about .icon-four {
  animation-name: rotateme;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateme {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes float_up_down {
  0% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.section-icons .icon-two {
  animation-name: float_up_down;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Bob */

@keyframes float_left_right {
  0% {
    transform: translateX(-100px);
    opacity: 1;
  }

  50% {
    transform: translateX(100px);
    opacity: 0.4;
  }

  100% {
    transform: translateX(-100px);
    opacity: 1;
  }
}

.section-icons .icon-three {
  animation-name: float_left_right;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes float_left_right_two {
  0% {
    transform: translateX(-30px);
    opacity: 1;
  }

  50% {
    transform: translateX(0px);
    opacity: 0.8;
  }

  100% {
    transform: translateX(-30px);
    opacity: 1;
  }
}

@keyframes zoom-fade {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.section-icons .icon-three {
  animation-name: zoom-fade;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.accordion-s1__item {
  display: block;
  position: relative;
}

.accordion-s1__icon {
  position: absolute;
  left: 0;
  top: 0;
  background: $momo-gradient;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;

  svg {
    width: 16px;
  }

  .plus {
    display: block;
  }
  .minus {
    display: none;
  }
}

.accordion-s1-wrap {
  [aria-expanded="true"] {
    .minus {
      display: block;
    }
    .plus {
      display: none;
    }
  }
}

.accordion-s1__title {
  padding-left: 40px;
  min-height: 26px;
}

.accordion-s1__content {
  padding-left: 40px;
  font-size: 14px;
  line-height: 22px;
}

.btn-facebook {
  // background: #3f5ea8;
  // border-color: #3f5ea8;

  @include button-variant(#3f5ea8, #3f5ea8);
  .icon {
    fill: white;
    margin-right: 5px;
    height: 1.5rem;
    vertical-align: -29%;
  }
}

.conference--card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.01),
    0 18px 30px -10px rgba(75, 82, 94, 0.099);
  width: 100%;
  overflow: hidden;
  .card-body {
    padding: 15px 20px;
  }
  .card-title {
  }

  .card-text {
    font-size: 15px;
    color: gray("600");
  }

  @include media-breakpoint-down(sm){
    .card-img-top{
      width: 70%;
      margin: 0 auto;
    }
    .card-body {
      padding: 10px 15px;
    }
    .card-text {
      font-size: 14px;
    }
  }
}

.conference--host {
  position: relative;
}

.shape-map1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 90%;
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  z-index: -1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}
.conference--host {
}

.link-absolute{
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
  z-index: 1;

}

.meetup__item {
  // max-width: 400px;
  background-color: white;
  border-radius: 5px;
  // overflow: hidden;
  font-size: 15px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  &.is-end {
    .meetup__content,
    .meetup__time {
      filter: grayscale(100%);
    }
  }
  transform: translate3d(0,0,0);
  transition: transform 0.2s ease-in;
  .meetup__title {
    transition: all 0.2s ease-in;
  }
  &:not(.is-end){
    @include hover-focus(){
      cursor: pointer;
      transform: translate3d(0,-8px,0);
      .meetup__title {
        color: $momo !important;
      }
    }
  }

  @include media-breakpoint-down(sm){
  margin-bottom: 20px;
  }

}

.meetup__content {
  padding: 20px 20px;
}

.meetup__title {
  margin-bottom: 10px;
}

.meetup__desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nav__conference {
  .nav {
    width: 200px;
    margin: 0 auto;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
  }
  .nav-item {
    font-size: 13px;
    .nav-link {
      padding: 5px 15px;
      color: white;

      &.active {
        background-color: $momo;
      }
    }
  }
}

.meetup__author {
  // margin-bottom: 5px;
}

.meetup__desc {
  margin-bottom: 10px;
}

.meetup__banner {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.meetup__cta {
  margin-top: 10px;
}

.meetup__time {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 60px;
  border-bottom-left-radius: 10px;
  border-radius: 3px;
  background-color: rgba(white, 0.9);
  @extend .shadow;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  .month {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 5px;
    background-color: $momo;
    color: rgba(255, 255, 255, 0.8);
  }

  div {
    width: 100%;
  }
  .date {
    width: 100%;
    font-size: 20px;

    color: gray("800");
    padding: 5px 0px 0px;
    line-height: 1.2;
  }

  .day {
    font-size: 11px;
    color: gray("700");

    padding: 0 0 5px 0;
  }

  // :after {
  //   position: absolute;
  //   content: "";
  //   bottom: -25px;
  //   right: 2px;
  //   width: 56px;
  //   height: 29px;
  //   background: $momo;
  //   z-index: -1;
  //   -webkit-transform: rotate(-48deg);
  //   -ms-transform: rotate(-48deg);
  //   transform: rotate(-48deg);
  // }

  @include media-breakpoint-down(sm){
    top: -5px;
    right: -5px;
  }
}

.container-meetup {
  max-width: 1250px;
  margin: 0 auto;
}

.speaker__item {
  font-size: 14px;
}

.speaker__image {
  img {
    width: 110px;
  }
}

.testi__item {
}

.testi__name {
  font-size: 15px;
}

.testi__country {
  color: gray("200");
  font-size: 13px;
}

.testi__text {
  // font-size: 15px;
}

.swiper-testi2 {
  .swiper-slide {
    transform: scale(0.9);
    opacity: 0.25;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
  }
}

.conference__testi {
}

.gh-testimonials-grid {
  display: grid;
  margin: 40px auto;
  text-align: left;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 55px;
  font-size: 14px;


}

.gh-testimonial-header h5 {
  position: relative;
  z-index: 1;
  margin: 0;
  color: gray("900");
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.gh-testimonial-header mark {
  position: relative;
  font-weight: 800;
  background: none;
}

.gh-testimonial-header mark:before {
  content: "";
  position: absolute;
  top: -0.1em;
  right: -0.8em;
  bottom: -0.1em;
  left: -0.8em;
  z-index: -1;
  background: rgba($momo, 0.3);
  opacity: 0.25;
  transform: skew(-40deg);
}

.gh-testimonial-quote {
  position: relative;
  margin: 0 0 30px;
  padding: 0 0 30px;
  border: none;
  @include media-breakpoint-down(sm){
    margin: 0 0 10px;
  padding: 0 0 10px;
  }
}

.gh-testimonials-grid-item .gh-testimonial-quote:first-of-type:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 82.71px;
  height: 4px;
  background: rgba($momo, 0.3);
  opacity: 0.34;
}

.gh-testimonials-grid p {
  font-size: 15px;
  color: gray("700");
  font-style: italic;
}

.gh-testimonial-footer {
  margin: 15px 0 0;
  padding: 0;
}

.gh-testimonial-author,
.gh-testimonial-footer cite {
  display: flex;
  align-items: center;
}
.gh-testimonial-img {
  margin: 0 12px 0 -2px;
  width: 44px;
  height: 44px;
  border: 2px solid #fff;
  background: #d8d8d8;
  border-radius: 50%;
  overflow: hidden;
}

.gh-testimonial-author {
  flex-direction: column;
  align-items: flex-start;
}

.gh-testimonial-author strong {
  color: gray("800");
  font-size: 16px;
  line-height: 1.3em;
}

.gh-testimonial-author span {
  margin: 0;
  color: gray("600");
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 500;
}


@media (max-width: 900px) {
  .gh-testimonials-grid {
      grid-template-columns:1fr 1fr;
      grid-gap: 20px
  }

  .gh-testimonials-grid-item:last-of-type {
      display: none
  }
}

@media (max-width: 450px) {
  .gh-testimonials-grid {
      margin:0 auto;
      padding: 0 4vw 40px;
      text-align: center;
      grid-template-columns: 1fr;
      grid-gap: 40px
  }

  .gh-testimonials-grid-item .gh-testimonial-quote:first-of-type:before {
      bottom: -20px;
      left: auto;
      margin-left: -41px
  }

  .gh-testimonials-grid-item .gh-testimonial-quote:last-of-type {
      display: none
  }

  .gh-testimonial-footer {
      display: flex;
      justify-content: center
  }
}


#particles-js-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#particles-js-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
