.campaign-box {
  background: #fff;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 68%, 0.32);
  margin-bottom: 0;
  transition: box-shadow 0.15s ease;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  &:hover {
    box-shadow: 0 8px 10px 0 hsla(0, 0%, 68%, 0.32);
  }
  @include media-breakpoint-down(md) {
    height: auto;
  }
}

.campaign-content {
  padding: 20px;

  @include media-breakpoint-down(md) {
    padding: 15px;
  }

  .campaign-desc {
  }
}

.campaign-title {
  color: gray("900");
  margin-bottom: 10px;
}

.campaign-desc {
  color: gray("600");
}

.campaign-money {
  font-size: 14px;
  color: gray("600");
  .value {
    color: gray("900");
    font-size: 20px;
  }

  @include media-breakpoint-down(md) {
    font-size: 13px;
    .value {
      font-size: 16px;
    }
  }
}

.campaign-progress {
  margin: 5px 0;
}

.campaign-status {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .campaign-status-item:not(:last-child) {
    padding-right: 15px;
  }
}

.campaign-image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

$per: 66.7;

.campaign-gallery {
  display: flex;
  flex-flow: row nowrap;
  .campaign-gallery-1 {
    width: $per * 1%;
    flex: 0 0 $per * 1%;
    padding: 2px;
  }

  .campaign-gallery-2 {
    width: (100 - $per) * 1%;
    flex: 0 0 (100 - $per) * 1%;
    padding: 2px;
    .embed-responsive-img {
    }
  }

  .campaign-gallery-less {
    margin-bottom: 4px;
  }
  .campaign-gallery-more {
    margin-top: 4px;
  }
  .embed-responsive {
    border-radius: 5px;
    overflow: hidden;
  }
  .embed-responsive-img {
    background-color: white;
  }
}

.campaign-gallery-more-btn {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  text-decoration: underline;
  z-index: 2;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.campaign-status-item {
  flex: 0 0 auto;

  white-space: nowrap;
  @include media-breakpoint-down(md) {
    .btn {
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}

.campaign-status-label {
  font-size: 14px;
  color: gray("600");
  white-space: nowrap;
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}

.campaign-status-value {
  font-weight: bold;
  color: gray("900");
  white-space: nowrap;
  @include media-breakpoint-down(md) {
    font-size: 15px;
  }
}

.modal-campaign {
  .modal-content {
    @include media-breakpoint-down(sm) {
      background-color: white !important;
    }
  }
}

.widget-donation {
  background: #fff;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 68%, 0.32);
  border-radius: 5px;
  overflow: hidden;
  padding: 25px 20px;
  max-width: 100%;

  .value {
    font-size: 24px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(sm) {
    .value {
      font-size: 18px;
    }
    margin-bottom: 20px;
    padding: 0 5px;
    background-color: transparent;
    box-shadow: none;
  }
}

.widget-donation-sticky {
  position: sticky;
  top: 30px;
}

.campaign-list {
}

.campaign-desc {
  font-size: 15px;
  min-height: 110px;
  strong {
    color: gray("900");
  }
  img {
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
  }

  // height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.campaign-body {
  font-size: 15px;

  strong {
    color: gray("900");
  }
  img {
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
  }
}

.campaign-people {
}

.campaign-people-list {
  margin-bottom: 10px;
  margin-top: 5px;
  .campaign-people-item:not(:last-child) {
    // margin-bottom: 10px;
    border-bottom: 1px solid gray("200");
  }
}

.campaign-people-item {
  padding: 8px 0 8px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 14px;

  .campaign-people-avatar + .campaign-people-info {
    padding-left: 15px;
  }
}

.campaign-people-avatar {
  width: 35px;
  height: 35px;
  font-size: 15px;
  color: gray("600");
  border-radius: 50%;
  background-color: gray("300");
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex: 0 0 35px;
  &.is-image {
    background: transparent;
    border-radius: 0;
  }

  &.is-pink {
    background-color: $momo-1;
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
  }
}

.campaign-people-name {
  color: gray("900");
  font-weight: 600;
  margin-bottom: 3px;
  padding-top: 3px;
}

.campaign-people-info {
  padding: 0 15px 0 0;
  flex-grow: 1;
  min-width: 0;
}

.campaign-people-phone {
  color: gray("500");
  font-size: 12px;
}

.campaign-people-money {
  color: gray("900");
  font-weight: 600;
  white-space: nowrap;
}
.icon-heovang {
  position: relative;
  top: -2px;
  padding-left: 4px;
  vertical-align: middle;
}

.campaign-close {
  width: 40px;
  height: 40px;
  background-color: gray("500");
  color: white;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 8px;
  border: none;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  .icon {
    height: 25px;
  }
  &:hover {
    background-color: gray("700");
  }
}

.modal-header {
  padding-left: 20px;
  padding-right: 80px;
}

.modal-huongdan {
  background-color: rgba(0, 0, 0, 0.3);
}

//GALERRY

.gallery {
  display: flex;
  flex-flow: row nowrap;
  background-color: gray("900");
  margin-top: 61px;
  overflow: hidden;
  // justify-content: center;
  padding: 1px;
  &:hover {
    .gallery-item:not(:hover) {
      opacity: 0.85;
    }
  }
  @include media-breakpoint-down(md) {
    margin-top: 54px;

    .gallery-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.gallery-item {
  transition: opacity 0.25s;
  padding: 1px;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  overflow: hidden;
  cursor: pointer;
  img {
    height: 100%;
    object-fit: cover;
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
      -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
      transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

.detail-container {
  padding: 40px 0;
  background-color: gray("100");
  @include media-breakpoint-down(sm) {
    padding: 0px 0 30px;
  }
}

.widget-donation-container {
  @include media-breakpoint-down(sm) {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.btn-gallery-container {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 0;
  right: 0;
}

.btn-share {
  svg {
    fill: #3f5ea8;
  }
}

.btn-gallery {
  padding: 3px 8px;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
  border-radius: 3px;
  .icon {
    vertical-align: -3px;
    height: 16px;
    margin-right: 3px;
  }
}

.detail-title {
  margin-bottom: 10px;
}

.campaign-sort {
  font-size: 17px;
  padding: 0px 0 20px;
  font-style: italic;
}

.baiviet-loadmore {
  max-height: 600px;
  transition: height 200ms;
  overflow: hidden;

  + a[data-readmore-toggle] {
    img {
      width: 20px;
      opacity: 0.5;
    }
    &:after {
      background: linear-gradient(rgba(255, 255, 255, 0.001), gray("100"));
    }
  }
}

.baiviet-loadmore[aria-expanded="true"] {
  + a[data-readmore-toggle] {
    &:after {
      display: none;
    }
  }
}

.swiper-message,
.modal-list-message {
  margin-left: -5px;
  margin-right: -5px;
  .swiper-slide {
    width: 290px;
    padding: 1px 5px 10px 5px;
    &:nth-child(4n + 1) {
      .message-item .campaign-people-avatar {
        background-color: rgba($momo-purple, 1);
      }
    }
    &:nth-child(4n + 2) {
      .message-item .campaign-people-avatar {
        background-color: rgba($momo-1, 1);
      }
    }
    &:nth-child(4n + 3) {
      .message-item .campaign-people-avatar {
        background-color: rgba($green, 1);
      }
    }

    &:nth-child(4n + 4) {
      .message-item .campaign-people-avatar {
        background-color: rgba($blue, 1);
      }
    }
  }
}

.modal-list-message {
  margin-left: -5px;
  margin-right: -5px;
  .swiper-slide {
    width: 100%;
    padding: 1px 5px 10px 5px;
  }
}

.message-item {
  // background-color: white;
  // background-color: rgba(#8c2dd3, 0.15);
  border: 1px solid gray("300");
  // @extend .shadow-sm;
  background: white;
  padding: 13px;
  // border: 1px solid gray("300");
  // @extend .shadow-sm;
  border-radius: 5px;
  width: 100%;
  .campaign-people-avatar {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

.message-item-name {
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  color: gray("900");
}

.message-item-content {
  padding: 10px 0 5px;
  text-align: left;
  line-height: 16px;
  background-color: white;
  border-radius: 5px;
}

.message-item-txt {
  color: gray("600");
  font-size: 14px;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  background-color: white;
}

.navbar-container.pageDetail {
  .navbar-lacxi {
    background: rgba(52, 8, 69, 1);
    color: white;
    &.is-fixed {
      background: rgba(52, 8, 69, 0.85);
    }
  }
}

.show-donation-btn {
  .donation-btn-fix {
    transform: translate3d(0, 0, 0);
  }
}

.donation-btn-fix {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 15px;
  background: white;

  border-top: 1px solid gray("300");
  z-index: 99;
  transition: transform 0.3s ease-in;
  transform: translate3d(0, 100%, 0);
  overflow: hidden;
}

.detail-container {
  padding-bottom: 70px;
}

.user-testi {
  margin-top: 40px;

  @include media-breakpoint-down(sm){
    margin-top: 20px;
  }
}

.user-testi__item .content:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  margin-left: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 8px solid #3c4858;
  border-color: transparent #ffffff #ffffff transparent;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-box-shadow: 2px 2px 2px -1px rgba(60, 72, 88, 0.15);
  box-shadow: 2px 2px 2px -1px rgba(60, 72, 88, 0.15);
}

.user-testi__item {
  padding: 5px;
  .content {
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15) !important;
  }
}

.user-testi__content {
  font-size: 14px;
  margin-bottom: 5px;
}

.user-testi__name {
  font-size: 13px;
  text-transform: capitalize;
  span{
    font-size: 12px;
  }
}
.user-testi__avatar {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $momo-1;
  color: white;
  line-height: 0;
  font-size: 18px;
  font-weight: bold;
}

.user-testi__pagination{
  z-index: 10;
  max-width: 250px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  .swiper-button-next, .swiper-button-prev{
    top: auto;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-size: 9px;
  }
}

.swiper-user-testi {
  padding-bottom: 35px;
 
  .swiper-pagination-bullets {
    bottom: 3px;
  }
  .swiper-slide {
    max-width: 320px;
  }


  .swiper-slide {
    &:nth-child(4n + 1) {
      .user-testi__avatar {
        background-color: rgba($momo-purple, 1);
      }
    }
    &:nth-child(4n + 2) {
      .user-testi__avatar {
        background-color: rgba($momo-1, 1);
      }
    }
    &:nth-child(4n + 3) {
      .user-testi__avatar {
        background-color: rgba($green, 1);
      }
    }
    &:nth-child(4n + 4) {
      .user-testi__avatar {
        background-color: rgba($blue, 1);
      }
    }
  }
}
