// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=latin-ext,vietnamese');

html,
body {
  font-size: 15px;
}

.font-serif {
  // font-family: 'Playfair Display', serif;
}

.charity-stat-container {
}

.post-meta svg{
  vertical-align: -10%;
}

.charity-stat {
  text-align: center;
  margin-bottom: 20px;
  // width: 220px;
  margin: 0 auto;

  @include media-breakpoint-down(sm){
    margin-bottom: 10px;
    .charity-stat-img{
      img{
        width: 120px;
        width: 100%;
      }
    }
    .charity-stat-num{
      font-size: 15px;
    }
    .charity-stat-label{
      font-size: 13px;
    }
  }
}

.charity-stat-img{
  padding: 0 30px;
  margin-bottom: 10px;
  img{
    max-width: 200px;
    width: 100%;
  }
}

.charity-stat-num {
  // @extend .font-serif;
  @extend .h4;
  font-weight: bold;
  margin-bottom: 5px;
}

.charity-stat-label {
  font-size: 15px;
}

svg #svg-ico {
  fill: #ee5586;
}

svg #svg-concept {
  stroke: #ee5586;
}

.section-hero {
  &:after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-bottom: 2.7vw;
    background-image: url(../img/curve.svg);
    background-position-x: center;
    background-size: 110vw;
  }
}

[data-overlay] {
  position: relative;
}
.list-complete {
  position: relative;
}
.list-complete-item {
  transition: all 1s;
  display: block;
  margin-right: 0;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  // transform: translateY(30px);
}

.list-complete-enter {
  // opacity: 0;
  transform: translateY(50px);
}
.list-complete-leave-active {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

.embed-responsive-apd::before {
  padding-top: 51.72414%;
}

.embed-responsive-img {
  background: #e0e0e0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  overflow: hidden;
}

.dona-item {
  overflow: hidden;
}

.dona-body {
  padding: 15px 20px;
  // font-size: 14px;
  @include media-breakpoint-down(sm) {
    padding: 10px 15px;
  }
}

.dona-title {
  margin-bottom: 10px;
  // max-width: 450px;
}

.dona-desc {
  color: $gray-600;
}

.dona-meta {
  // background: gray("200");
  padding: 8px 0;
  // border-radius: 5px;
  border-top: 1px solid gray("300");
  border-bottom: 1px solid gray("300");
}
.dona-meta-item {
  .la {
    color: gray("600");
    font-size: 13px;
  }
  .va {
    // color: gray("900");
    color: $primary-2;
    font-weight: bold;
    font-size: 18px;
  }
}

.dona-qr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dona-live {
  background: gray("200");
  padding: 0 15px;
  border-radius: 10px;
  .dona-live-item:last-child {
    border-bottom: none;
    // margin-bottom: 10px;
  }

 

  // min-height: 190px;
}

.dona-live-item {
  border-bottom: 1px solid gray("300");
  padding: 10px 0;

  font-size: 12px;
  .name {
    margin-bottom: 3px;
    span {
      color: gray("600");
      font-size: 11px;
    }
  }
  .text {
    font-style: italic;
  }
}

.widget-running {
  border-top: 3px solid $primary-2;
}

.circle-animation {
  position: absolute;
  height: 450px;
  width: 450px;
  top: 50%;
  transform: translateY(-50%);
  right: 25%;
  // transform: translateY(-50%)
}

.circle-animation .ca {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(34, 59, 85, 0.15);
}

.tc-light .circle-animation .ca {
  border-color: rgba(255, 255, 255, 0.1);
}

.circle-animation .ca-dot {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.circle-animation .ca-color-1 {
  background: lighten($momo-1, 20%);
}

.circle-animation .ca-color-2 {
  background: lighten($momo-2, 20%);
}

.circle-animation .ca-color-3 {
  background: lighten($momo, 10%);
}

.circle-animation-l1 {
  height: 100%;
  width: 100%;
  animation: rotatecw_alt 78s linear infinite 0s;
}

.circle-animation-l1-d1 {
  left: 23%;
  top: 6.35%;
}

.circle-animation-l1-d2 {
  right: 23%;
  top: 6.35%;
}

.circle-animation-l1-d3 {
  right: -7px;
  top: 50%;
}

.circle-animation-l1-d4 {
  right: 23%;
  bottom: 6.35%;
}

.circle-animation-l1-d5 {
  left: 23%;
  bottom: 6.35%;
}

.circle-animation-l1-d6 {
  left: -7px;
  top: 50%;
}

.circle-animation-l2 {
  height: 84.6%;
  width: 84.6%;
  border-radius: 50%;
  animation: rotateacw_alt 66s linear infinite 0s;
}

.circle-animation-l2-d1 {
  right: 4.9%;
  top: 25%;
}

.circle-animation-l2-d2 {
  left: 42%;
  top: -0.6%;
}

.circle-animation-l2-d3 {
  left: -2px;
  top: 40%;
}

.circle-animation-l2-d4 {
  left: 24%;
  bottom: 5.5%;
}

.circle-animation-l2-d5 {
  right: 11.2%;
  bottom: 16%;
}

.circle-animation-l3 {
  height: 69.2%;
  width: 69.2%;
  animation: rotatecw_alt 54s linear infinite 0s;
}

.circle-animation-l3-d1 {
  left: 7.6%;
  top: 20%;
}

.circle-animation-l3-d2 {
  right: 24%;
  top: 5.2%;
}

.circle-animation-l3-d3 {
  right: -3px;
  bottom: 39%;
}

.circle-animation-l3-d4 {
  right: 37%;
  bottom: 0;
}

.circle-animation-l3-d5 {
  left: 8.4%;
  bottom: 19%;
}

@keyframes rotatecw_alt {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateacw_alt {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateacw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.mouse-wrapper {
  margin: 0 auto;
  display: none;
  width: 28px;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 70px;
  transform: scale(0.9);
  @include media-breakpoint-down(md){
    bottom: 40px;
  }

  @include media-breakpoint-down(sm){
    bottom: 20px;
    transform: scale(0.7);
  }
}

.mouse {
  width: 30px;
  height: 47px;
  border: 2px solid #fff;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
}

.mouse .mouse-scroll {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  position: relative;
  top: 10px;
  left: 11px;
  -webkit-animation: scrolls 1.3s ease-out infinite;
}

@-webkit-keyframes scrolls {
  0% {
    top: 10px;
    opacity: 1;
    height: 4px;
  }

  95% {
    top: 18px;
    opacity: 0;
    height: 10px;
  }

  100% {
    top: 8px;
    opacity: 1;
    height: 4px;
  }
}

.go-down {
  margin: auto;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  bottom: -50px;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
}

.article{
  img{
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
  }
}
.dona-video{
  .embed-responsive-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .btn-pulse-hmm {
    background-color: $momo-1;
    border: none !important;
   svg{
     height: 30px !important;

   }
   &:hover, &:active{
    background-color: lighten($momo-1,5%) !important;
   }
  }
  
  .btn-pulse-hmm:before {
    content: "";
    display: block;
    position: absolute;
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
    background-color: inherit;
    border-radius: 50%;

    transition: opacity 0.3s, transform 0.3s;
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    z-index: -1;
    box-shadow: 0 0 0 0 rgba($momo-1, 0.7);
  }
}

.chiso-update{
  display: inline-block;
  padding: 4px 15px;

  border-radius: 15px;
  background-color: rgba(gray("600"),.1);
    color: gray("600");
    font-size: 14px;;
}