.pron__wrap {
  padding-top: 100px;

  background: linear-gradient(270deg, #f2f2f2 0%, #fafafa 100%);
  position: relative;
  overflow: hidden;
}

.pron__about {
  max-width: 440px;
  position: relative;
  margin-right: 0;
  margin-left: auto;
}

.pron__shape {
  position: absolute;
 
  z-index: -1;
  opacity: 0.8;
  
}

.pron__shape_1{
  top: -15px;
  right: -15px;
  width: 50%;
}
.pron__shape_2{
  bottom: -15px;
  left: -30px;
  width: 70%;
}

.embed-responsive-pronAbout::before {
  padding-top: percentage(504/432);
}
