canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #232741;
  background: linear-gradient(to bottom, #340845, #8c2dd3);
  background-repeat: no-repeat;
}

#particles-js2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #232741;
  background: linear-gradient(to bottom, #8c2dd3, #340845);
  background-repeat: no-repeat;
}

.btn-pulse {
}

.btn-pulse {
  overflow: visible;
  position: relative;
}
.btn-pulse:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  transition: opacity 0.3s, transform 0.3s;
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  z-index: -1;
  box-shadow: 0 0 0 0 rgba(#faff00, 0.7);
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 15px rgba(#faff00, 0);
  }
}

.tinhnang-loadmore[aria-expanded="true"] {

  + a[data-readmore-toggle] {
    &:after{
      display: none;
    }
  }
}

a[data-readmore-toggle] {
  display: block;
  // background-color: white;
  // padding: 10px 0 0 0;
  display: flex !important;
  align-items: flex-end;
  position: relative;
  height: 60px;
  margin-top: -30px;
  &:after {
    content: "";
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.001)),
      to(white)
    );
    background: linear-gradient(rgba(255, 255, 255, 0.001), #fff);
    pointer-events: none;
  }
  img {
    width: 20px;
    opacity: 0.5;
  }
}
