.customer-testi {
  // cursor: e-resize;
  // margin-top: 15px;
  // padding-left: 20px;
  padding: 30px 15px 10px;
  margin: -20px 20px 0;
  background-color: #fff7e9;
  border: 2px dotted darken(#fff7e9, 20%);
  border-radius: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fbeacc' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  @include media-breakpoint-down(sm) {
    padding: 20px 10px 10px;
    margin: -10px 10px 0;
  }
}

.customer-testi-img {
  position: relative;
  z-index: 2;
}

// .customer-testi .content:before {
//   content: "";
//   position: absolute;
//   top: 13px;
//   left: 20px;
//   margin-left: 13px;
//   box-sizing: border-box;
//   border: 8px solid #3c4858;
//   border-color: transparent #ffffff #ffffff transparent;
//   transform-origin: 0 0;
//   transform: rotate(225deg);
//   box-shadow: 2px 2px 2px -2px rgba(60, 72, 88, 0.15);
// }

// .customer-testi .content:before {
//   content: "";
//   position: absolute;
//   top: 30px;
//   left: 0;
//   margin-left: 13px;
//   box-sizing: border-box;
//   border: 8px solid #3c4858;
//   border-color: transparent #ffffff #ffffff transparent;
//   transform-origin: 0 0;
//   transform: rotate(135deg);
//   box-shadow: 2px 2px 2px -1px rgba(60, 72, 88, 0.15);
// }

.customer-testi {
  .content {
    // background: url('../img/bg-quote.png')
  }
}

.customer-testi-img {
  // max-width: 200px;
}

.swiper-testi {
  padding: 5px 18px;
  padding-bottom: 30px;
  &.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: $primary-2;
  background-size: 12px;
  border-radius: 50%;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-tintuc {
  padding: 5px 18px;
  padding-bottom: 40px;
  .swiper-slide{
    height: auto;
    
  }

  &.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: $primary-2;
}

.tintuc-embed {
  &:before {
    padding-top: 48.05195%;
  }
}

.widget-running {
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: bottom right;
  max-width: 350px;
  .card-body {
    padding: 15px 20px;
  }
}
.widget-badget {
  background-color: rgba($momo-2, 0.1);
  color: $momo-2;

  display: inline-block;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.over-text {
  font-size: 15px;
  padding: 30px;
  border-radius: 20px;
  // background: gray("200");
  background: #fef8fb;
}

.tintuc-item {
  background: white;
  height: 100%;
  .title{
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.huongdan-nav {
  .nav-link {
    border: 2px solid $primary-2;
    padding: 5px 15px;
    color: $primary-2;
    margin: 5px 5px;
  }

  .nav-link.active,
  .show > .nav-link {
    color: #fff;
    background-color: $primary-2;
  }
}

.food-tab-item {
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 9px 10px 9px 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 120px;
}

.food-tab-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  flex: 0 0 30px;

  img {
    width: 100%;
  }
}

.tinhnang-tab-content {
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 25px;
  @include media-breakpoint-down(xs) {
    padding: 10px 15px;
  }
}

.food-tab-link {
  display: block;
  // margin-bottom: 5px;
  padding-bottom: 8px;

  position: relative;
  transition: all 0.2s ease-in;

  &:after,
  &:before {
    content: "";
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  &.active {
    transform: translateY(5px);

    &:after,
    &:before {
      opacity: 1;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 12px;
      background: white;
      left: 0;
      right: 0;
      bottom: -1px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    &:after {
      content: "";
      position: absolute;

      width: 100%;
      height: 14px;
      background: white;
      left: 0;
      right: 0;
      bottom: -1px;
    }
  }
}

.swiper-tab-tinhnang {
  margin-left: -2px;
  margin-right: -2px;
  .swiper-slide {
    display: block;
    width: 160px;
    padding: 5px 2px 0 2px;
  }
  .swiper-wrapper {
    flex-wrap: nowrap;
  }
}

.food-tab-name {
  font-size: 13px;
  line-height: 16px;
  color: gray("700");
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nav-item {
  .active {
    .food-tab-name {
    }
    .food-tab-icon {
    }
  }
}

.why-play-icon {
  background: rgba(0, 0, 0, 0.5);
  .icon {
    height: 2rem !important;
  }
  @include hover-focus() {
    background: rgba(0, 0, 0, 0.6);
  }
}

@include media-breakpoint-down(sm) {
  .fancybox-slide--video {
    padding: 0;
  }
}

.food-shadow {
  // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 10px;
  border-radius: 10px;
  background: white;
  // @extend .card;
}

@media (max-width: 321px) {
}

.doitac-logo {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doitac-logo img {
  max-width: 130px;
  max-height: 80px;
}

.bg-dibo {
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-lacxi {
  padding: 0.5rem 1rem;
  &.is-fixed {
    background: rgba(#340845, 0.85);
    color: white;
    @extend .shadow-sm;
  }
  transform: translateZ(0);
  will-change: transform;
  transition: transform 0.5s, background-color 0.2s;
  &.is-hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .navbar-toggler {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: transparent;
      width: 50px;
      height: 50px;
      top: -14px;
      left: -15px;
    }

    @include media-breakpoint-down(sm) {
      // background-color: rgba(52, 8, 69, 1);
    }
  }

  &.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    &.active {
      color: $yellow !important;
    }
  }
  &.navbar-dark .navbar-toggler svg [stroke]:not([stroke="none"]) {
    stroke: #fff !important;
  }
  &.navbar.navbar-toggled-show {
    background: rgba(#340845, 0.85);
    color: white;
  }
}

.section-nam {
  padding-top: 130px;
  padding-bottom: 30px;

  // @include media-breakpoint-down(xl) {
  //   padding-top: 100px;
  //   padding-bottom: 20px;
  // }
  @media screen and (max-width: 1500px) {
    padding-bottom: 20px;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 100px;
    padding-bottom: 20px;
  }
 
}

.hero-btn-absolute{
  position: absolute;
  z-index: 2;
  bottom: 80px;
  width: 100%;
  @include media-breakpoint-down(lg) {
    bottom: 60px;
  }
}

.tt-item {
  position: relative;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.tt-p {
  font-size: 14px;
  color: gray("700");
}

.tt-image-container {
  position: relative;

  .embed-responsive-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // min-height: 350px;

  // &:after {
  //   content: "";
  //   display: block;
  //   height: 30%;
  //   width: 100%;
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   pointer-events: none;
  //   background-image: -webkit-gradient(
  //     linear,
  //     left top,
  //     left bottom,
  //     from(rgba(0, 0, 0, 0)),
  //     to(rgba(0, 0, 0, 0.5))
  //   );
  //   background-image: linear-gradient(
  //     to bottom,
  //     rgba(0, 0, 0, 0) 0%,
  //     rgba(0, 0, 0, 0.5) 100%
  //   );
  //   background-repeat: repeat-x;
  //   -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=0);
  //   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=0);
  // }

  .dona-live {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: transparent;
    color: white;
  }

  .dona-live {
    padding: 15px;
    border-radius: 0;
    .dona-live-item:last-child {
      margin-bottom: 0;
    }

    .dona-live-item:first-child {
      opacity: 0.7;
      &.list-complete-leave-to {
        // display: none
        transform: translateY(-50px);
        opacity: 0;
      }
      &.list-complete-move {
        // display: none;
      }
    }
    .dona-live-item:nth-child(2) {
      opacity: 1;
      &.list-complete-move {
        opacity: 0.7;
      }
    }

    .dona-live-item:nth-child(3) {
      &.list-complete-move {
        opacity: 0.7;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 10px;
    }
  }

  .dona-live-item {
    border-bottom: none;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    border-radius: 8px;
    max-width: 400px;
    font-size: 12px;
    .name {
      margin-bottom: 0;
      font-size: 10px;
      color: rgba(255, 255, 255, 0.8);
      span {
        color: rgba(255, 255, 255, 0.8);
        // color: ;
      }
    }
    .text {
      font-style: italic;
    }
  }
}

.dona-live {
  padding: 0;
  border-radius: 0;
  .dona-live-item:last-child {
    margin-bottom: 0;
  }

  .dona-live-item:first-child {
    opacity: 0.5;
    &.list-complete-leave-to {
      // display: none
      transform: translateY(-50px);
      opacity: 0;
    }
    &.list-complete-move {
      // display: none;
    }
  }
  .dona-live-item:nth-child(2) {
    opacity: 0.8;
    &.list-complete-move {
      opacity: 0.5;
    }
  }

  .dona-live-item:nth-child(3) {
    &.list-complete-move {
      opacity: 0.8;
    }
  }
}

.swiper-button-white {
  outline: none;
}

.dona-live-item {
  border-bottom: none;
  padding: 7px 10px;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  border-radius: 8px;
  // max-width: 400px;
  font-size: 13px;
  .name {
    margin-bottom: 0;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 13px;
  }
  .text {
    font-style: normal;
    font-weight: normal;
  }
}

#myTabContent {
  @include media-breakpoint-down(xs) {
    .card-body {
      font-size: 15px;
    }
  }
}

.tab-navigation {
  outline: none;
  display: block;
  @include media-breakpoint-down(xs) {
    img {
      width: 25px;
    }
  }
  opacity: 0.7;
  transition: all 0.2s ease-in;
  @include hover-focus() {
    opacity: 1;
    // @extend .shadow-sm;
  }
}

.tt-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.tt-content {
  padding: 25px 30px;

  @include media-breakpoint-down(sm) {
    padding: 15px 20px;
  }
}

.bg-gradient-purple {
  background: linear-gradient(to bottom, #340845, #8c2dd3);
  // background-image: url("../img/bg-purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-more {
  transition: all 0.2s;
  transform: translateY(0);
  opacity: 0.95;
  @include hover-focus() {
    opacity: 1;
    transform: translateY(-5px);
  }
}

.qu-image {
  padding: 0 50px;
}
.qu-container {
  background: #f3e9f9;
  border: 1px dashed #ae2070;
  box-sizing: border-box;
  border-radius: 15px;
  color: gray("800");
  padding: 15px 20px;

  position: relative;
  &:after {
    content: "“";
    font-size: 100px;
    line-height: 0;
    color: $momo-2;
    position: absolute;
    top: 25px;
    left: 10px;
    font-weight: 400;
  }

  &:before {
    content: "”";
    font-size: 100px;
    line-height: 0;
    color: $momo-2;
    position: absolute;
    bottom: -25px;
    right: 10px;
    font-weight: 400;
  }

  @include media-breakpoint-down(sm) {
    border-radius: 10px;
    padding: 10px 15px;
    &:before,
    &:after {
      display: none;
    }
  }
  &.no-quote {
    &:before,
    &:after {
      display: none;
    }
  }
}

.avatar-vidai {
  width: 90px;
}
.avatar-vidai-sub {
  font-size: 12px;
  max-width: 250px;
  margin: 0 auto;
  display: block;
  color: gray("600");
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.vidai-item {
  @include media-breakpoint-up(md) {
    padding: 0 30px;
  }
  position: relative;

  blockquote {
    font-size: 15px;
    color: gray("900");
    font-style: italic;
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-flow: row wrap;
    padding-left: 110px;
    text-align: left;
    min-height: 92px;

    .avatar-vidai {
      position: absolute;
      width: 80px;
      left: 15px;
      top: 0;
    }

    blockquote {
      margin-bottom: 5px;
      text-align: left;
    }
  }
}

.hero-title {
  @include media-breakpoint-down(sm) {
    width: 200px;
    margin: 0 auto;
  }
}

.hero-title2 {
  @include media-breakpoint-down(sm) {
    width: 250px;
    margin: 0 auto;
  }
}

.hero-img {
  @include media-breakpoint-down(sm) {
    width: 250px;
    padding-right: 30px;
    margin: 0 auto;
  }
}

.section-10dieu {
  &:after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    left: 0;
    z-index: 100;
    padding-bottom: 2.7vw;
    background-image: url(../img/curve.svg);
    background-position-x: center;
    background-size: 110vw;
    transform: rotate(180deg);
  }
  padding-top: 100px;
  @include media-breakpoint-down(md) {
    padding-top: 40px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
  }
}

.btn-dropshadow {
  box-shadow: 2px 3px #9e6280;
}

.subheading-container {
  display: flex;
  justify-content: center;
}
.subheading {
  border: 1px dashed #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
}

.hmm {
  .so {
    color: white;
    font-size: 30px;
    line-height: 54px;
    text-align: center;
    padding: 0;
    font-weight: bold;
    text-align: center;
    display: block;
    vertical-align: middle;
  }
  .cirlewhite {
    width: 54px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    float: left;
    // background: $gradient-momo;
    background-color: $momo-purple;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;

    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15),
      0 0 0 0 rgba(255, 255, 255, 0.3);
  }

  @include media-breakpoint-down(sm) {
    .so {
      font-size: 20px;
      line-height: 40px;
    }
    .cirlewhite {
      width: 40px;
      height: 40px;
    }
  }
}

.hmm-item {
  position: relative;
  background: white;
  padding: 15px 20px;
  border-radius: 40px;
  color: gray("800");
  max-width: 350px;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 15px;
  min-height: 70px;
  padding-left: 74px;
  display: flex;
  align-items: center;
  margin: 0 auto 15px;
  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-left: auto;
  }

  @include media-breakpoint-down(sm) {
    max-width: 100%;
    font-size: 13px;
    padding: 5px 15px;
    padding-left: 65px;
    min-height: 50px;
    font-size: 16px;
  }
}
.hmm-right {
  @include media-breakpoint-up(md) {
    .hmm-item {
      padding-left: 20px;
      padding-right: 74px;
      margin-right: auto;
      margin-left: 0;
      justify-content: flex-end;
      text-align: right;
    }
    .cirlewhite {
      left: auto;
      right: 8px;
    }
  }
}

.avatar-anim {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.8px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    pointer-events: none;
    border-radius: 50%;
    animation: 2.2s ease-out 0s infinite normal none running pulse;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.8px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    pointer-events: none;
    border-radius: 50%;
    animation: 2.2s ease-out 1s infinite normal none running pulse;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 991px) {
  @keyframes pulse {
    0% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
        scale(1);
      -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
        scale(1.2);
      -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
      opacity: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
  .img-toionha {
    // width: 150px;
  }
}

@media (max-width: 400px) {
  .tinhnang-tab {
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    // border-bottom: 1px solid rgba(255,255,255,0.15);
  }
  .navbar-brand {
    img {
      width: 30px;
    }
  }
}

.banner-mobile {
  // padding-top: 53px;
  // background: #340845;
}

.hashtag-momo {
  background-image: url("../img/hashtag.svg");
  background-repeat: no-repeat;
  background-position: left center;
  height: 37px;
  line-height: 37px;
  span {
    font-size: 14px;
    background-color: #11a1e2;
    // border-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px 0 5px;
    margin-left: 33px;
  }
}

.tinhnang-loadmore {
  @include media-breakpoint-down(md) {
    max-height: 6em;
    transition: height 200ms;
    overflow: hidden;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
